<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('BulMeong')}"></head>
<link th:href="@{/css/freeboard.css}" rel="stylesheet" />
<body>

	<header th:replace="~{layout/header::header_layout}"></header>
	
	<script>
	
		$(document).ready(function(){
			
			// # 게시글 관련 # //
			// 1. 게시글 작성
			$('#btn_write').click(function(){
				location.href = '/freeboard/write';				
			});
			
			// 2. 게시글 목록
			$('#btn_list').click(function(){
				location.href = '/freeboard/list';				
			});
			
			// 3. 게시글 수정
			$('#btn_edit').click(function(){

				$('#frm_btn').attr('action', '/freeboard/edit');
				$('#frm_btn').submit();
			});
			
			// 4. 게시글 삭제
			$('#btn_remove').click(function(){
				if(confirm('게시글을 삭제하시겠습니까?')){
					$('#frm_btn').attr('action', '/freeboard/remove');
					$('#frm_btn').submit();
				} else {
					alert('취소되었습니다.');
				}
				
			});
			// # 게시글 끝 # //
			
			
			// # 댓글 관련 # //
			fn_commentCount();
			fn_commentList();
			fn_modifyComment()
			fn_changePage();
			fn_removeComment();
			fn_switchReplyArea();
			fn_switchModifyArea();
			fn_addCommentReply()
			fn_switchModifyAreaCancle();
			
			// # 댓글 관련 변수
			var nickname = $('#nickname').val(); // 세션에 로그인 한 유저 닉네임
			
			// # 좋아요 관련 # //
			fn_likeCheck();
 			fn_likeCount();
 			fn_pressLike();

			// 1. 댓글 갯수
			function fn_commentCount(){
				$.ajax({
					type: 'get',
					url: '/freecomment/getCount',
					data: 'freeNo=[[${free.freeNo}]]',
					dataType: 'json',
					success: function(resData){
						$('#comment_count').text(resData.commentCount);
					}
				});
			}		

			// 2. 댓글 리스트
			function fn_commentList(){
				$.ajax({
					type: 'get',
					url: '/freecomment/list',
					data: 'freeNo=[[${free.freeNo}]]&page=' + $('#page').val(),
					dataType: 'json',
					success: function(resData){
						$('#comment_list').empty();	
						$.each(resData.commentList, function(i, comment){
							var div = '';
							
							// Depth가 0일 때()
							if(comment.freeCmtDepth == 0){
								div += '<div>';
							} else if(comment.freeCmtDepth > 0) {
								var margin = comment.freeCmtDepth * 40;
								// for (var i = 0; i < comment.freeCmtDepth; i++){
								div += '<div style="margin-left:'+margin+'px;">';
								// }
							}
							
							// State가 1일 때(일반 댓글)
							if(comment.freeCmtState == 1) {
								
								div += '<div style="display: inline-block;">';
								div += '<span><strong>' + comment.nickname + '</strong></span>';
								div += '&nbsp;';
								div += '<span class="cmt_create_date">' + comment.freeCmtCreateDate + '</span>';
								div += '&nbsp;';
								div += '<div class="cmt_content_area">'
								div += '<span class="cmt_content">' + comment.freeCmtContent; + '</span>'
								div += '</div>'
								div += '</div>'
							
							// Depth가 0일 때(삭제 댓글)
							} else {
								if(comment.freeCmtDepth == 0) {
									div += '<div>삭제된 댓글입니다.</div>';
								} else {
									div += '<div>삭제된 답글입니다.</div>';
								}
							}	
								
							if(comment.freeCmtState == 1) {
								
								// 수정 form / hidden
								div += '<div class="blind">';
								div += '<form class="frm_cmt_modify">';
								div += '<input type="hidden" name="freeNo" value="' + comment.freeNo + '">';
								div += '<input type="hidden" name="freeCmtDepth" value="' + comment.freeCmtDepth + '">';
								div += '<input type="hidden" name="freeGroupOrder" value="' + comment.freeGroupOrder + '">';
								div += '<input type="hidden" name="freeCmtNo" value="' + comment.freeCmtNo + '">';
								// hidden
								div += '<input type="text" name="freeCmtContent" value="' + comment.freeCmtContent + '">';
								div += '<input type="button" value="저장" class="btn_cmt_run_modify">';		
								div += '<input type="button" value="취소" class="btn_cmt_modify_cancle">';		
								div += '</form>'
								div += '</div>'
								
								// sessionUser와 댓글작성자가 같으면 수정, 삭제 기능
								if('[[${session.loginUser}]]' != null){
									
									if(comment.nickname == nickname) {
										div += '<span>'
										div += '<input type="button" value="수정" class="btn_cmt_modify">';
										div += '<input type="button" value="삭제" class="btn_cmt_remove" data-free_cmt_no="' + comment.freeCmtNo + '">';
										div += '</span>'
									}
								}
								
							}
								
								
							if(comment.freeCmtState == 1) {									
								// 답글 버튼
								div += '<div>'
								div += '<input type="button" value="답글" class="btn_cmt_area">';
								div += '<div style="margin-left: 40px;" class="blind">';								
								// 답글 form
								div += '<form class="frm_reply">';
								// hidden
								div += '<input type="hidden" name="freeNo" value="' + comment.freeNo + '">';
								div += '<input type="hidden" name="freeCmtDepth" value="' + comment.freeCmtDepth + '">';
								div += '<input type="hidden" name="freeGroupOrder" value="' + comment.freeGroupOrder + '">';
								div += '<input type="hidden" name="freeGroupNo" value="' + comment.freeGroupNo + '">';
								// hidden
								div += '<input type="text" class="btn_reply_area" name="freeCmtContent" placeholder="답글 추가...">';
								div += '<input type="button" value="답글" class="button_reply btn_reply_add">';				
								div += '</form>';
								div += '</div>';
								div += '</div>';	
							}
						
							div += '<div>';
							moment.locale('ko-KR');
							div += (comment.freeCmtDepth == 0 && comment.cmtCnt > 0 ? '<button>더보기</button></div>' : '</div>');

							$('#comment_list').append(div);
							$('#comment_list').append('<div style="border-bottom: 1px dotted gray;"></div>');

						});
					// 원래 페이징
					}
						
				});
			}
			
			// 3. 답글 토글 버튼
			function fn_switchReplyArea() {
				$(document).on('click', '.btn_cmt_area', function() {				
					$(this).next().toggleClass('blind');
					
				});
			}
			
			// 4. 수정 토글 버튼
			function fn_switchModifyArea() {
				$(document).on('click', '.btn_cmt_modify', function(){
					$(this).parent().prev().toggleClass('blind'); // 1. 수정할 input 박스 생성
					$(this).hide();								  // 2. 수정버튼 hide
					$(this).next().hide();						  // 3. 삭제버튼 hide
					$(this).parent().prev().prev().children().next().children().toggleClass('blind'); // 4. content hide	
				});
				
			}
			
			// 5. 수정 토글 버튼 취소
			function fn_switchModifyAreaCancle() {
				$(document).on('click', '.btn_cmt_modify_cancle', function(){
					$(this).parent().parent().toggleClass('blind');	// 1. input 박스 삭제
					$(this).parent().parent().next().children().show(); // 2. 수정, 삭제버튼 show					
					$(this).parent().parent().prev().children().next().children().show();
					fn_commentList();
							
				});
				
			}

			// 6. 페이지 버튼
			function fn_changePage(){
				$(document).on('click', '.enable_link', function(){
					$('#page').val( $(this).data('page') );
					fn_commentList();
				});
			}
			
			// 7. 댓글 추가
			$('#btn_add_comment').click(function(){
				if($('#content').val() == ''){
					alert('댓글을 입력하세요.');
					return;
				}
				$.ajax({
					type: 'post',
					url: '/freecomment/add',
					data: $('#frm_add_comment').serialize(),
					dataType: 'json',
					success: function(resData){
						if(resData.isAdd) {
							alert('댓글이 등록되었습니다.');
							$('#content').val('');
							fn_commentList();
							fn_commentCount();
						}
					}, error: function(){
						alert('세션이 만료되었습니다.');
						location.replace('/users/login/form');
					}
						
				});
			});				
			
			// 8. 댓글 수정
			function fn_modifyComment(){
				$(document).on('click', '.btn_cmt_run_modify', function(){
					
					var objParams = {
							freeNo         : $(this).prev().prev().prev().prev().prev().val(),
							freeCmtContent : $(this).prev().val(),
							freeCmtNo      : $(this).prev().prev().val()
					}
					
					$.ajax({
						type: 'post',
						url: '/freecomment/modify',
						data: objParams,
						dataType: 'json',
						success: function(resData){
							if(resData.isModify){	
								alert('댓글이 수정되었습니다.');
								fn_commentList();
								fn_commentCount();
							}

						}, error: function(jqXHR){
							alert('세션이 만료되었습니다.');
							location.replace('/users/login/form');
						}
					});
					
				
				});
			}			
			
			// 9. 댓글 삭제
			function fn_removeComment(){
				$(document).on('click', '.btn_cmt_remove', function(){
					if(confirm('삭제된 댓글은 복구할 수 없습니다. 댓글을 삭제할까요?')){
						$.ajax({
							type: 'post',
							url: '/freecomment/remove',
							data: 'freeCmtNo=' + $(this).data('free_cmt_no'),
							dataType: 'json',
							success: function(resData){
								if(resData.isRemove){
									alert('댓글이 삭제되었습니다.');
									fn_commentList();
									fn_commentCount();
								}
								
							}
						});
					} else {
						alert('취소되었습니다.')
					}
				});
			}
			
			// 10. 댓글의 답글 추가
			function fn_addCommentReply(){
				$(document).on('click', '.btn_reply_add', function(){
					if($(this).prev().val() == ''){
						alert('답글 내용을 입력하세요.');
						return;
					}
					$.ajax({
						type: 'post',
						url: '/freecomment/reply/add',
						data: $(this).closest('.frm_reply').serialize(),
						dataType: 'json',
						success: function(resData) {
							if(resData.isAddReply) {
								alert('답글이 등록되었습니다.');
								fn_commentCount();
								fn_commentList();
							}
						}, error: function(){
							alert('세션이 만료되었습니다.');
							location.replace('/users/login/form');
						}
					}); // ajax		
				});
				
			}
			
		

			
			// # 좋아요 관련 # //
			function fn_likeCheck() {
				$.ajax({
					url: '/like/getLikeCheck',
					type: 'get',
					data: 'freeNo=[[${free.freeNo}]]&nickname=' + nickname,
					dataType: 'json',
					success: function(resData){
						if (resData.likeCount == 0) {
							$('#heart').html('<img src="/images/camp/whiteheart.png" width="15px">');
							$('#like').removeClass("like_checked");
						} else {
							$('#heart').html('<img src="/images/camp/redheart.png" width="15px">');
							$('#like').addClass("like_checked");
						}
					}
				});
			}
			
			function fn_likeCount(){
				$.ajax({
					url: '/like/getLikeCount',
					type: 'get',
					data: 'freeNo=[[${free.freeNo}]]',
					dataType: 'json',
					success: function(resData){
						$('#like_count').empty();
						$('#like_count').text(resData.count + '개');
					}
				});
			}
			
			// "좋아요" 누른 경우
			function fn_pressLike(){
				$('#lnk_like').click(function(){
					
					// 로그인을 해야 "좋아요"를 누를 수 있다.
					if(nickname == null){
						alert('로그인한 사용자만 이용할 수 있습니다.');
						return;
					}
					// 셀프 좋아요 방지
					if(nickname == '[[${free.nickname}]]') {
						alert('본인의 게시글에서는 "좋아요"를 누를 수 없습니다.');
						return;
					}
					// "좋아요" 선택/해제 상태에 따른 하트 변경
					$('#like').toggleClass("like_checked");
					if ($('#like').hasClass("like_checked")) {
						$('#heart').html('<img src="/images/camp/redheart.png" width="15px">');
					} else {
						$('#heart').html('<img src="/images/camp/whiteheart.png" width="15px">');
					}
					// "좋아요" 처리
					$.ajax({
						url: '/like/mark',
						type: 'get',
						data: 'freeNo=[[${free.freeNo}]]&nickname=' + nickname,
						dataType: 'json',
						success: function(resData){
							if(resData.isSuccess) {
								fn_likeCount();							
							}
						}
					});
				});
			}
			
			
			
			
			
			// # 좋아요 관련 끝 # //

			// # 게시글 버튼 관련 # //
			
			// 1. 상단으로 창 이동
			$('#btn_top').click(function(){
				window.scrollTo({ top: 0, behavior: "smooth" });
			});
			
			
			// 2. 댓글 창 이동
			$('#move_cmt').click(function(){
				var location = $('#h2_cmt').offset().top;
				console.log(location);		
				window.scrollTo({ top: location, behavior: "smooth" });
			});
			
			// # 게시글 버튼 끝 # //
			
		});
		
		// url 복사
		function linkCopy() {
		
			var url = '';
			var textarea = document.createElement("textarea");
			document.body.appendChild(textarea);
			url = window.document.location.href;
			textarea.value = url;
			textarea.select();
			document.execCommand("copy");
			document.body.removeChild(textarea);
			alert("URL이 복사되었습니다.");
	
		}
		
		
	</script>
	
	<!-- session이랑 loginUser가 같다면 nickname 값 넘겨주기 -->
	<div th:if="${session.loginUser} != null">
		<input type="hidden" id="nickname" th:value="${session.loginUser.nickname}">
	</div>
	
	<!-- 1. 게시판 상단 버튼 -->
	<div>
		<input type="button" value="목록" id="btn_list">
	</div>
	
	<a th:href="@{/freeboard/list}">자유게시판</a>
	
	<!-- 2. 게시글 내용 -->
	<h3 th:text="${free.freeTitle}"></h3>
	
	<div>
		<div>
			<span th:text="${free.nickname}" id="writer_nickname"></span>
			<span th:text="${free.freeCreateDate}"></span>
			<span id="move_cmt">댓글</span><br>
			<span><a href="" onclick="linkCopy()">URL 복사</a></span>
			
		</div>
	</div>

	
	<hr>
	
	<div th:utext="${free.freeContent}"></div>

	<div th:text="${freeCmt}"></div>

	<hr>
	
	<!-- 좋아요 -->
	<a id="lnk_like">
		<span id="heart"></span>&nbsp;<span id="like"></span><span id="like_count"></span>
	</a>
	
<!-- 	<img th:src="@{/images/camp/whiteheart.png}" width="15px"> -->
<!-- 	<img th:src="@{/images/camp/redheart.png}" width="15px"> -->
	
	
	
	<!-- 3. 댓글 추가 -->
	<h2 id="h2_cmt">댓글</h2>
	<div>
		<form id="frm_add_comment" th:if="${session.loginUser} != null">
			<div class="add_comment">
				<div class="add_comment_input">
					<span class="add_comment_btn">
						<input type="text" name="freeCmtContent" id="content" size="50" placeholder="댓글을 입력해주세요.">
						<input type="button" value="등록" id="btn_add_comment">
 							<input type="hidden" name="freeGroupNo" th:value="0">
					</span>
				</div>
			</div>
			<input type="hidden" name="freeNo" th:value="${free.freeNo}">
		</form>
	</div>	
	
	<!-- 4. 댓글 내용 -->
	<span id="btn_comment_list">
		<i class="fa-regular fa-comment-dots"></i>&nbsp;댓글
		<span id="comment_count"></span>개
	</span>
	
	<hr>
	
	<div id="comment_area">
		<div id="comment_list"></div>
		<div id="paging" class="paging"></div>
	</div>
	




	<!-- 4. 게시판 하단 버튼 -->
	<div>
		<form id="frm_btn" method="post">
			<input type="hidden" name="freeNo" th:value="${free.freeNo}">
			<input type="hidden" name="nickname" th:value="${free.nickname}">
			<input type="button" value="글쓰기" id="btn_write">
			<input type="button" value="목록" th:onclick="|location.href='@{/freeboard/list}'|">
			<span th:if="${session.loginUser} != null and ${free.nickname == session.loginUser.nickname}">
				<input type="button" value="수정" id="btn_edit">
				<input type="button" value="삭제" id="btn_remove">
			</span>
			<input type="button" value="TOP" id="btn_top">
		</form>	
	</div>


<!-- 	<div> -->
<!-- 		<div th:each="comment , i : ${freeCmtList}"> -->
<!-- 			<div style="display: inline-block;"> -->
<!-- 				<span><strong th:text="${comment.nickname}"></strong></span> -->
<!-- 				<span class="cmt_create_date" th:text="${comment.freeCmtCreateDate}"></span>&nbsp; -->
<!-- 				<div class="cmt_content_area"> -->
<!-- 					<span class="cmt_content" th:text="${comment.freeCmtContent}"></span> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div>  -->


</body>
</html>