<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('[BulMeong] 자유게시판')}"></head>
<body>

	<header th:replace="~{layout/header::header_layout}"></header>
	
	<script>
		$(document).ready(function(){
		
			$('#write').click(function(){
				location.href = '/freeboard/write';				
			});
		
		});

			function goPage(page){ // page는 받는 이름...
				
				var dateColumn = $("#dateColumn option:selected").val();
				var column = $("#column option:selected").val();
				var query = $("#query").val();
				location.href="/freeboard/list?page=" + page + "&dateColumn=" + dateColumn + "&column=" + column + "&query=" + query;
	
			}
		
	</script>

	<h3>자유게시판</h3>

	<div th:if="${session.loginUser} != null">
 		<input type="button" value="글쓰기" id="write">
	</div>

	<table border="1">
		<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>좋아요</th>
				<th>작성자</th>
				<th>작성일</th>
				<th>조회</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="free , i : ${freeBoardList}">
				<td th:text="${free.freeNo}"></td>
				<td>
					<a th:href="@{/freeboard/increse/hit(freeNo=${free.freeNo})}" th:text="|${free.freeTitle} (${freeCmt[i.index]})|"></a>
				</td>
				<td th:text="(${freelike[i.index]})"></td>
				<td th:text="${free.nickname}"></td>
				<td th:text="${free.freeCreateDate}"></td>
				<td th:text="${free.freeHit}"></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="6" th:utext="${paging}"></td>
			</tr>
		</tfoot>
	</table>
	

	
	
	<div>
	
		<select id="dateColumn" name="dateColumn">
			<option value="">전체기간</option>
			<option value="ADAY" th:selected="${dateColumn} == ADAY">1일</option>
			<option value="AWEEK" th:selected="${dateColumn} == AWEEK">1주일</option>
			<option value="AMONTH" th:selected="${dateColumn} == AMONTH">1개월</option>
			<option value="AYEAR" th:selected="${dateColumn} == AYEAR">1년</option>
		</select>
		<select id="column" name="column">
			<option value="FREE_TITLE" th:selected="${column} == FREE_TITLE">제목</option>
			<option value="FREE_CONTENT"  th:selected="${column} == FREE_CONTENT">내용</option>
			<option value="FREE_CONTENT_FREE_CONTENT" th:selected="${column} == FREE_CONTENT_FREE_CONTENT">제목 + 내용</option>
			<option value="NICKNAME" th:selected="${column} == NICKNAME">게시글 작성자</option>
		</select>
		<input type="text" id="query" name="query" th:value=${query}>
		<button th:onclick="goPage(1)">검색</button>

	</div>

</body>
</html>