<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('Bul meong 글쓰기')}"></head>
<link th:href="@{/css/freeboard/write.css}" rel="stylesheet" />
<script>

	$(document).ready(function(){
		
		$('#content').summernote({
			height: 500,
			lang: 'ko-KR',
			toolbar: [
				['style', ['bold', 'italic', 'underline', 'clear']],
				['font', ['strikethrough', 'superscript', 'subscript']],
				['fontsize', ['fontsize']],
				['color', ['color']],
				['para', ['ul', 'ol', 'paragraph']],
				['height', ['height']]
			]
		});
		
		// 목록
		$('#btn_list').click(function(){
			if(confirm('게시글이 저장되지 않았습니다. 정말 돌아가시겠습니까?')){
				location.href = '/freeboard/list';
			}			
		});
		
		
		// 서브밋
		$('#frm_write').submit(function(event){
			if($('#title').val() == ''){
				alert('제목은 필수입니다.');
				event.preventDefault();
				return;
			}
			if($('#content').val() == ''){
				alert('내용은 필수입니다.');
				event.preventDefault();
				return;
			}
		});
		
	});
</script>
	
<body>
	<header th:replace="~{layout/header::header_layout}"></header>
	
	<div class="top_image">
		<img th:src="@{/images/freeboard/campfire.jpg}" class="image_style">
	</div>
	
	<div>	
		<form id="frm_write" th:action="@{/freeboard/add}" method="post">
			<div class="title_box">
				<input type="text" name="freeTitle" id="title" placeholder="제목을 입력하세요">
			</div>
			<div class="content_box">
				<textarea name="freeContent" id="content"></textarea>
			</div>
			<div class="btn_group">
				<button class="button1">완료</button>
				<input type="button" class="button2" value="목록" id="btn_list">
			</div>
		</form>
	</div>

	<footer th:replace="~{layout/footer::footer_layout}"></footer>
</body>
</html>