<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout/header::head('캠핑예약')}"></head>
<style>
	.camp_div {
		border: solid 1px #333333;
		display: flex;
	}

	.camp_img {
		width: 300px;
	}

	.name:hover {
		color: #CC4B4C; 
		text-decoration: underline;
	}
	
	.enable_link {
		padding: 5px 5px;
		font-size: 20px;
		color: #96a0ad;
		line-height: 1.5;
		text-align: center;
	}
	
	.p {
		font-size: 20px;
	}
	
</style>
<script th:inline="javascript">

	$(function(){
		var id = $('#userId').data('id');
		console.log(id);
		fn_getList();
		fn_changePage();
		fn_getListOption();
		fn_reserve();
		fn_detail();
		
		// 찜
		//fn_jjimCheck(); 
		//fn_jjimCount(); 
		//fn_pressJjim();
	});

	function fn_getList() {
		$.ajax({
			type: 'get',
			url: '/camp/list',
			data: 'page=' + $('#page').val(),
			dataType: 'json',
			success: function(resData) {
				$('#camp_list').empty();
				$.each(resData.campList, function(i, camp){
					if(camp.firstImageUrl == null) {
						camp.firstImageUrl = 'https://www.foodsafetykorea.go.kr/residue/assets/_new/img/noimage.gif';   // 이미지가 없으면 이미지 지정해주기
					}
					
					var camp_div = '<div class="camp_div" style="padding: 20px;">';
					camp_div += '<div class="img" style="padding-right: 30px;"><img class="camp_img" src=' + camp.firstImageUrl + '></img></div>';
					camp_div += '<div class="txt" style="padding: 15px 0;">'
					camp_div += '<div class="name" style="font-size: 20px; font-weight: bold;"><a href="/detail?campNo=' + camp.campNo + '">' + camp.facltNm + '</a></div>';
					camp_div += '<div>' + camp.lineIntro + '</div><br>';
					camp_div += '<div><img src="images/camp/place.png" style="width: 20px; height: 20px;"> ' + camp.addr1 + '</div>';
					camp_div += '<div><img src="images/camp/call.png" style="width: 20px; height: 20px;"> ' + camp.tel + '</div>';
					camp_div += '<div class="lnk_jjim"><img src="images/camp/redheart.png" style="width: 20px; height: 20px;"><span> ' + camp.jjim + '개</span></div>';
					$('#camp_list').append(camp_div);
				}); 

				$('#paging').empty();
				var pageUtil = resData.pageUtil;
				var paging = '';
				// 이전 블록
				if(pageUtil.beginPage != 1) {
					paging += '<span class="enable_link" data-page="'+ (pageUtil.beginPage - 1) +'">◀</span>';
				}
				// 페이지번호
				for(let p = pageUtil.beginPage; p <= pageUtil.endPage; p++) {
					if(p == $('#page').val()){
						paging += '<strong class="p">' + p + '</strong>';
					} else {
						paging += '<span class="enable_link" data-page="'+ p +'">' + p + '</span>';
					}
				}
				// 다음 블록
				if(pageUtil.endPage != pageUtil.totalPage){
					paging += '<span class="enable_link" data-page="'+ (pageUtil.endPage + 1) +'">▶</span>';
				}
				$('#paging').append(paging);

				$('#title').html('<h1>캠핑장 전체 목록 : <span style="color: #CC4B4C; font-weight: bold;">' + resData.campCount + '개</span></h1>');
			}
		});
	}

	function fn_changePage(){
		$(document).on('click', '.enable_link', function(){
			$('#page').val( $(this).data('page') );
			fn_getList();
		});
	}

	function fn_getListOption() {
		fn_btnInit();
		$('#btn_query, #btn_search').on('click', function() {  // 묶어놓은 거 풀 생각하기

			$.ajax({
				type: 'get',
				url: '/camp/list/option',
				data: {query:$('#query').val(), doNm:$('#doNm').val(), induty:$('#induty').val(), themaEnvrnCl:$('#themaEnvrnCl').val()},
				dataType: 'json',
				success: function(resData) {
					console.log(resData);
					$('#camp_list').empty();
					$.each(resData.campList, function(i, camp){

						if(camp.firstImageUrl == null) {
							camp.firstImageUrl = 'https://www.foodsafetykorea.go.kr/residue/assets/_new/img/noimage.gif';   // 이미지가 없으면 이미지 지정해주기
						}

						var camp_div = '<div class="camp_div">';
						camp_div += '<div><img class="camp_img" src=' + camp.firstImageUrl + '></img></div>';
						camp_div += '<div>' + camp.facltNm + '</div>';
						camp_div += '<div>' + camp.intro + '</div>';
						camp_div += '<div>' + camp.campNo + '</div>';
						camp_div += '<div>' + camp.addr1 + '</div>';
						camp_div += '<div>' + camp.sbrsCl + '</div>';
						camp_div += '<div>' + camp.tel + '</div>';
						camp_div += '<div id="lnk_jjim"><span id="heart"></span><span id="jjim">찜</span><span id="jjim_count"></span></div>';
						camp_div += '<div><input type="button" class="btn_detail" data-campNo="' + camp.campNo + '" value="상세보기" </div>';
						camp_div += '<div><input type="button" class="btn_reserve" data-campNo="' + camp.campNo + '" value="예약하기" </div>';
						$('#camp_list').append(camp_div);
					});

					// 옵션 검색 시 페이징 처리는 아직 구현안됨.

					$('#paging').empty();
					var pageUtil = resData.pageUtil;
					var paging = '';
					// 이전 블록
					if(pageUtil.beginPage != 1) {
						paging += '<span class="enable_link" data-page="'+ (pageUtil.beginPage - 1) +'">◀</span>';
					}
					// 페이지번호
					for(let p = pageUtil.beginPage; p <= pageUtil.endPage; p++) {
						if(p == $('#page').val()){
							paging += '<strong>' + p + '</strong>';
						} else {
							paging += '<span class="enable_link" data-page="'+ p +'">' + p + '</span>';
						}
					}
					// 다음 블록
					if(pageUtil.endPage != pageUtil.totalPage){
						paging += '<span class="enable_link" data-page="'+ (pageUtil.endPage + 1) +'">▶</span>';
					}
					$('#paging').append(paging);
					$('#title').append('<h1>캠핑장 검색 목록 : ' + resData.campCount + '개</h1>');

				}
			});
		});
	}
 
	function fn_btnInit() {
		$('#btn_query').on('click', function() {
			$('#doNm').val('');
			$('#induty').val('');
			$('#themaEnvrnCl').val('');
		});

		$('#btn_search').on('click', function() {
			$('#query').val('');
		});
	}

	function fn_reserve() {
		$(document).on('click', '.btn_reserve', function() {
			location.href='/reserve?campNo=' + $(this).attr('data-campNo');
		});
	}
	
	function fn_detail() {
		$(document).on('click', '.btn_detail', function() {
			location.href='/detail?campNo=' + $(this).attr('data-campNo');
		});
	}
	
	

	// 찜 표시 여부(찜테이블에 사용자가 있는지 확인)
	function fn_jjimCheck() { 
		$.ajax({
			url: '/cart/getJjimCheck',
			type: 'get',
			
			dataType: 'json',
			success: function(resData){
				if (resData.count == 0) {
					$('.heart').html('<img src="images/whiteheart.png" id="heart" width="15px">');
					$('.jjim').removeClass("jjim_checked");
				} else {
					$('.heart').html('<img src="images/redheart.png" id="heart" width="15px">');
					$('.jjim').addClass("jjim_checked");
				}
			}
		});
	}
	
	// 좋아요 개수
	 function fn_jjimCount(){
		$.ajax({
			url: '/cart/getJjimCount',
			type: 'get',
			data: 'campNo=${camp.campNo}',
			dataType: 'json',
			success: function(resData){
				$('#jjim_count').empty();
				$('#jjim_count').text(resData.count + '개');
			}
		});
	}
	  
	  
	  
	// 좋아요 누르기
	function fn_pressJjim(){  // event의 e
		  $(document).on('click', '.lnk_jjim', function() {
			  /* $(this).toggleClass("jjim_checked");
				if ($(this).hasClass("jjim_checked")) {
					$(this).$('.heart').html('<img src="images/redheart.png" width="15px">');
				} else {
					$(this).$('.heart').html('<img src="images/whiteheart.png" width="15px">');
				} */
				
				// "좋아요" 처리
				$.ajax({
					url: '/cart/mark',
					type: 'get',
					data: 'campNo=' + $(this).data('campno') + '&id='+ $('#userId').data('id'),
					dataType: 'json',
					success: function(resData){
						if(resData.isSuccess) {
							$.ajax({
								url: '/cart/getJjimCount',
								type: 'get',
								data: 'campNo=' + $(this).data('campno'),
								dataType: 'json',
								success: function(resData){
									$('#jjim_count').empty();
									$('#jjim_count').text(resData.count + '개');
								}
							});
							
							
						}
					},
					error: function(error) {
						
					}
				});
				
			});
			// 로그인을 해야 "좋아요"를 누를 수 있다.
			/* if('${loginUser.usersNo}' == ''){
				alert('해당 기능은 로그인이 필요합니다.');
				return;
			}
			// 셀프 좋아요 방지
			if('${loginUser.usersNo}' == '${camp.user.usersNo}'){
				alert('본인의 게시글에서는 "좋아요"를 누를 수 없습니다.');
				return;
			} */
			// "좋아요" 선택/해제 상태에 따른 하트 변경
			
		}
	
</script>
<body>

	<header th:replace="~{layout/header::header_layout}"></header>
	<!-- <h1 th:text="${camp.campNo}"></h1> -->
    <div id="list_container">
    	<div class="upbar" style="background-color: #D0D1D0; padding-top: 20px;">
			<div class="search" style="background-color: rgb(255, 255, 255, 0.7); padding: 30px 30px; margin: 0 20px 0 20px; border-radius: 20px; box-shadow: 5px 5px 5px 5px rgb(180 185 191 / 30%); display: flex;">
		   		<div class="condition" style="padding-right: 100px;">
		   			<h4>※조건으로 검색하기</h4>
		   			<span>
			   			지역
			   			<select name="doNm" id="doNm">
			   				<option value="">선택</option>
			   				<option value="서울">서울</option>
			   				<option value="경기">경기</option>
			   				<option value="대전">대전</option>
			   				<option value="충북">충북</option>
			   				<option value="광주">광주</option>
			   				<option value="울산">울산</option>
			   				<option value="경남">경남</option>
			   				<option value="강원">강원</option>
			   				<option value="부산">부산</option>
			   				<option value="경북">경북</option>
			   				<option value="충남">충남</option>
			   				<option value="인천">인천</option>
			   				<option value="대구">대구</option>
			   				<option value="제주">제주</option>
			   				<option value="세종">세종</option>
			   				<option value="전북">전북</option>
			   				<option value="전남">전남</option>
			   			</select>
		   			</span>
		   			<span>
		   				업종
		   				<select name="induty" id="induty">
			   				<option value="">선택</option>
			   				<option value="글램핑">글램핑</option>
			   				<option value="카라반">카라반</option>
			   				<option value="일반야영장">일반야영장</option>
			   				<option value="자동차야영장">자동차야영장</option>
			   			</select>
		   			</span>
		   			<span>
		   				테마환경
		   				<select name="themaEnvrnCl" id="themaEnvrnCl">
			   				<option value="">선택</option>
			   				<option value="봄꽃여행">봄꽃여행</option>
			   				<option value="여름물놀이">여름물놀이</option>
			   				<option value="가을단풍명소">가을단풍명소</option>
			   				<option value="겨울눈꽃명소">겨울눈꽃명소</option>
			   				<option value="낚시">낚시</option>
			   				<option value="걷기길">걷기길</option>
			   				<option value="수상레저">수상레저</option>
			   				<option value="액티비티">액티비티</option>
			   				<option value="일출명소">일출명소</option>
			   				<option value="일몰명소">일몰명소</option>
			   			</select>
		   			</span>
		   			<input type="button" value="검색" id="btn_search">
		   		</div>
			
		   		<div>
		   			<h4>※캠핑장명 검색하기</h4>
			   		<span>
				   		<input type="text" name="query" id="query" style="width: 455px;">
			   		</span>
			   		<input type="button" value="검색" id="btn_query">
		   		</div>
			</div>
			
	   		<hr>
	   		
		</div>

	
	   		<div id="title" style="padding: 50px"></div> 
	
	   		<div>
	  			<div id="camp_list"></div>
	   			<div id="paging" style="background-color: black;"></div>
				<input type="hidden" id="page" value="1">
	   		</div>
	   		
	   		<form>
	   			<div>
	   				<input type="hidden" name="campNo" value="${camp.campNo}">
	   			</div>
	   		</form>
	   		
	    <div th:if="${session.loginUser != null}">
			<input type="hidden" id="userId" th:data-id="${session.loginUser.id}">
		</div>
    </div>
</body>
</html>
