<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.gdu.bulmeong.camp.domain.CampDTO" alias="CampDTO" />
		<typeAlias type="com.gdu.bulmeong.pay.domain.PayDTO" alias="PayDTO" />
		<typeAlias type="com.gdu.bulmeong.pay.domain.TentDTO" alias="TentDTO" />
		<typeAlias type="com.gdu.bulmeong.cart.domain.CartDTO" alias="CartDTO" />

	</typeAliases>

</configuration>