@charset "EUC-KR";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');


/* https://fontawesome.com/icons */


.blind {
	display: none;
}

/* 1. 뒤로가기 */
#btn_list {
	cursor: pointer;
	display: block;
	width: 80%;
	margin: auto;
	font-size: 13px;
}
#btn_list:hover {
	cursor: pointer;
	display: block;
	width: 80%;
	margin: auto;
	font-size: 13px;
	color: rgba(113, 194, 133);
}
#btn_list:active {
	cursor: pointer;
	display: block;
	width: 80%;
	margin: auto;
	font-size: 13px;
	color: rgba(0, 0, 0);
}

/* 2. 게시글 */

.out_board_box {
	display: block;
	margin-top: 1%;
}
.in_board_box {
	border: 1px rgb(255, 255, 255) solid;
	font-size: 13px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	width: 80%;
	border-collapse: collapse;
	border-radius: 15px;
	overflow: hidden;
	margin: auto;
}
.title_box {
	background: rgba(113, 194, 133);
	padding: 1%;
}



#move_cmt, #url_css {
	float: right;
	cursor: pointer;
}
#date_css {
	font-size: 11px;
	color: rgb(180, 185, 191);
}

#board_content {
	margin: 10px;
	padding: 20px;
	background: rgb(180, 185, 191, 0.2);
	border-radius: 15px;
}

.freeTitle {
	font-size: 16px;
	color: white;
}

/* 3. 좋아요 */
.like_box {
	margin: 1%;
	display: inline;
}

/* 4. 댓글 카운트 */
.cmt_cnt_box {
	margin: 1%;
	display: inline;
}

/* 5. 댓글 입력창 */
.add_comment_input {
	width: 100%;
}

#content {		
	outline: 1px solid gray;
	border: none;
	border-radius: 15px;		
	padding: 11px;
	margin-left: 1%;
	width: 90%;
	height : 32px;
}
#content:focus {		
   	border: 0.5px solid rgba(113, 194, 133);
   	border: none;
   	border-radius: 15px;		
   	outline: 0.5px solid rgba(113, 194, 133);		   	   	
   	padding: 11px;
	margin-left: 1%;
   	width: 90%;		   	
	height : 32px;
}



#btn_add_comment {
	width: 7%;
	height : 32px;
	border: none;
	outline: 1px solid rgb(204, 75, 76);
	border-radius: 15px;
	background: rgb(255, 255, 255);
	color: rgb(204, 75, 76);
	font-size: 13px;
	margin-left: 1%;
}

#btn_add_comment:hover {
	width: 7%;
	height : 32px;
	border: none;
	border-radius: 15px;
	background: rgb(204, 75, 76);
	color: rgb(255, 255, 255);
	font-size: 13px;
	margin-left: 1%;
}

/* 7. 댓글 */

.cmt_create_date {
	color: rgb(127, 127, 127);
	font-size: 12px;
}

.cmt_content_style { 
	position:relative;
	margin: 10px;
	margin-left: 30px;
	padding: 10px; 
	width:auto; 
	height:auto; 
	border-radius: 10px; 
	background-color: rgb(204, 75, 76, 0.2);
}

.cmt_content_style:after { 
	content:""; 
	position: absolute;
	top: 45px; 
	left: -20px; 
	border-right: 20px solid rgb(204, 75, 76, 0.2);
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}


.cmt_content_nickname_style {
	padding: 3px;
	margin: 3px;
}

.cmt_content {
	padding: 5%;
	margin-left: 3%;
	color: rgb(55, 62, 72);
	background: rgb(0, 0, 0, 0.1);
	display: block;
	border-radius: 10px;
}



.btn_cmt_area {
	margin-left: 35px;
	background: none;
	border: none;
	transition: all 0.4s;
}
.btn_cmt_area:hover {
	margin-left: 35px;
	background: none;
	border: none;
	text-decoration: underline;
	color: rgba(113, 194, 133);
}

.reply_area_box {
	margin-bottom: 5px;
}

.btn_cmt_modify {
	width: 18px;
	opacity: 1;
	transition: .3s ease;
}


.btn_cmt_modify:hover {
	opacity: .5;
}

.btn_cmt_remove {
	width: 18px;
	opacity: 1;
	transition: .3s ease;
	margin-left: 3px;
}

.btn_cmt_remove:hover {
	opacity: .5;
}

/* 답글 인풋 */
.btn_reply_area {
	outline: 1px solid gray;
	border: none;
	border-radius: 15px;		
	padding: 11px;
	width: 90%;
	height : 32px;
}
.button_reply {
	width: 7%;
	height : 32px;
	border: none;
	outline: 1px solid rgb(204, 75, 76);
	border-radius: 15px;
	background: rgb(255, 255, 255);
	color: rgb(204, 75, 76);
	font-size: 13px;
	margin-left: 1%;
}

/* 8. 하단 버튼 */

.footer_btn_group {
	display: block;
	margin: auto;
	margin-top: 3%;
	width: 80%;
}

