@charset "EUC-KR";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');


/* https://fontawesome.com/icons */


.blind {
	display: none;
}


.cmt_create_date {
	color: rgb(127, 127, 127);
	font-size: 12px;
}

.cmt_content_style { 
	margin: 10px; 
	background-color: rgba(113, 194, 133, 0.1); 
	border: none; 
	border-radius: 15px; 
	display: block; 
	padding: 10px; 
}


.cmt_content_nickname_style {
	border: 1px solid;
	padding: 5px;
	margin: 5px;
	background: rgba(113, 194, 133, 0.2);
	border: none;
	border-radius: 15px;
}

.cmt_content {
	padding-left: 10px;
		color: rgb(55, 62, 72); 
}

#content {		
	outline: 1px solid gray;
	border: none;
	border-radius: 15px;		
	padding: 11px;
	margin: 8px;
	width: 400px;
	height : 40px;
}
#content:focus {		
   	border: 0.5px solid rgba(113, 194, 133);
   	border: none;
   	border-radius: 15px;		
   	outline: 0.5px solid rgba(113, 194, 133);		   	   	
   	padding: 11px;
   	margin: 8px;
   	width: 400px;		   	
	height : 40px;
}

#btn_add_comment {
	width: 70px;
	height : 40px;
	border: none;
	outline: 1px solid rgb(204, 75, 76);
	border-radius: 15px;
	background: rgb(255, 255, 255);
	color: rgb(204, 75, 76);
	font-size: 16px;
}

#btn_add_comment:hover {
	width: 70px;
	height : 40px;
	border: none;
	border-radius: 15px;
	background:1 rgb(204, 75, 76);
	color: rgb(255, 255, 255);
	font-size: 16px;
}