@charset "EUC-KR";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');


/* 내용 입력 상자 */
.content_box {
	margin: auto;	
	width: 70%;
}

.note-editable:focus {
	border: 1px solid rgba(113, 194, 133);
	font-size: 12px;
}


/* 타이틀 인풋 박스 */
.title_box {
	width: 70%;
	margin: auto;
	margin-bottom: 10px;
}

#title {
	border: none;
}


/* 완료, 목록 버튼 */

.btn_group {
	width: 70%;
	margin: auto;
	margin-top: 1%;
}

.button1, .button2 {
	border: 1px #CC4B4C solid;
	color: rgba(204, 75, 76);
	background-color: white;
	font-size: 12px;
	padding: 6px 18px;
	margin-right:-5px;
	
}

.button1:hover, .button2:hover {
	background-color: rgba(204, 75, 76); 
	transition-duration: 0.3s;
	color: white;	
}


.button1 {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}


.button2 {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;

}
