<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('FAQ')}"></head>
<link th:href="@{/css/faq.css}" rel="stylesheet" />
<script th:inline="javascript">
	$(function(){
		fn_addFaq();
		frm_faq_add
	});
	
	function fn_addFaq(){
		$('#frm_faq_add').submit(function(event){
			if($('#faqTitle').val() == '') {
				alert('필수');
				$('#faqTitle').focus();
				event.preventDefault();
				return;
			} else if ($('#faqContent').val() == ''){
				alert('내용을 작성하세요.');
				$('#faqContent').focus();
				event.preventDefault();
				return;
			}
		});
	}
	
</script>
<body>	
	<header th:replace="~{layout/header::header_layout}"></header>
	
	<form id="frm_faq_add" method="post" th:action="@{/faq/add}">
		<div class="faq_input_wrap">
			<input type="text" id="faqTitle" name="faqTitle" placeholder="질문">
		</div>
		<div class="faq_input_wrap">
			<textarea id="faqContent" name="faqContent" rows="35" cols="60" placeholder="답변"></textarea>
		</div>
		<div class="faq_btn_wrap">
			<input type="reset" value="입력초기화">
			<input type="submit" value="작성완료">
		</div>
	</form>
<!-- 	<footer th:replace="~{layout/footer::footer_layout}"></footer> -->
</body>
</html>