<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('목록')}"></head>
<body>
 
 	<h1>결제 정보</h1>
	
	<div>
		<span>※상품 정보</span>
		<div>이미지 : ${camp.firstImageUrl}</div>
		<div>캠핑장명 : ${camp.facltNm}</div>
		<div>인원 수 : ${camp.count}명</div>
		<div>총 금액 : ${camp.price}원</div>
	</div>
	
	<hr>
	
	<div>
		<span>※주문자 정보</span>
		<div>
			<label for="name">이름</label>
			<!-- <input type="text" name="name" id="name" th:value="${session.loginUser.name}"> -->
			<input type="text" name="name" id="name" value="${loginUser.name}">
			<span id="msg_name"></span>
		</div>
		<div>
			<label for="tel">휴대전화</label>
			<!-- <input type="text" name="tel" id="tel" th:value="${session.loginUser.tel}"> -->
			<input type="text" name="tel" id="tel" value="${loginUser.tel}">
			<span id="msg_mobile"></span>
		</div>
		<div>
			<label for="email">이메일</label>
			<!-- <input type="text" name="email" id="email" th:value="${session.loginUser.email}"> -->
			<input type="text" name="email" id="email" value="${loginUser.email}">
			<span id="msg_email"></span>
		</div>
	</div>
	
	<hr>
	
	<div>
		<span>※결제수단</span><br>
		<button id="pay" type="button">일반 결제</button> <br>
		<button id="kakaoPay" type="button">카카오페이 결제</button> <br>
		<button id="payco" type="button">페이코 결제</button> <br>
	</div>
	
	<hr>
	
		<input type="button" value="취소하기" onclick="history.go(-1)">
	<script>
	
		$(document).ready(function(){
			$('#pay').click(function(){
				pay();  // 버튼 클릭하면 호출
			});
		});  // 버튼 클릭하면 실행
		
		
		function pay() {  // (data)
			IMP.init('imp72345478');  // '가맹점 식별코드' 입력  // 초기화
			IMP.request_pay({  // param   // 결제창 호출
				pg: "html5_inicis", // pg사명 or pg사명.CID (잘못 입력할 경우, 기본 PG사가 띄워짐, 아임포트 홈페이지에서 추가한 pg만 가능하다.)  // "html5_inicis"  // "kakaopay.TC0ONETIME"
				pay_method: "card",
				merchant_uid: "testpaysera" + new Date().getTime(),  // DB에 주문 레코드를 생성하여 해당 레코드의 주문번호를 param.merchant_uid 에 지정하기
				name: "상품4",  // 결제창에 노출될 상품명 
				amount: 100,  // 네이버페이 최소 주문금액 100원
				buyer_email : "testiamport03@naver.com", 
				buyer_name : "크롱", 
				buyer_tel: "01012341234",
				buyer_addr: "서울특별시 강남구 신사동",
		        buyer_postcode: "01181"
			}, function (rsp) {  // callback  // 결제 완료
				if (rsp.success) {
					alert("[완료] imp_uid : "+ rsp.imp_uid +" / merchant_uid : " + rsp.merchant_uid);  // alert('결제가 완료되었습니다.');  // location.href="결제 완료 후 이동할 페이지 url"
				} else {
					alert("[실패] 코드("+rsp.error_code+") / 메세지(" + rsp.error_msg + ")");  // alert('결제에 실패하였습니다. 에러 : ' + rsp.error_msg); 
				}

			});
		}
		
		

	
	</script>
	
	   
</body>
</html>