<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout/header::head('BulMeong')}"></head>

	<link th:href='@{fullcalendar-5.11.3/lib/main.css}' rel='stylesheet' />
	<link th:href='@{fakeLoader.js-master/dist/fakeLoader.min.css}' rel='stylesheet' />
    <script th:src='@{fullcalendar-5.11.3/lib/main.js}'></script>
    <script th:src='@{fakeLoader.js-master/dist/fakeLoader.min.js}'></script>
    
   <style>
    	
    	#fc-dom-1 {
    		font-size: 23px;
    	}
    	
    	.fc-daygrid-day-number {
    		font-size: 12px;
    	}
    	
    	#reserve_container {
    		height: 800px;
    		margin: 0 10px;
    		
    	}
    	
    	.left_side {
    		float: left;
    		width: 39%;
    		height: 500px;
    	}
    	
    	.right_side {
    		float: right;
    		width: 59%;
    		height: 500px;
    	}
    	
    	.left_side > input[type=text] {
    		width: 80px;
    		text-align: center;
    	}
    	
    	
    	
    	
    	
    </style>
    
    <!-- 캘린더 스크립트 -->
    <script>
    
    	$(function() {
    		
    		/* fn_css(); */
    		
    		// 화면 이동 시 효과주기
    		$.fakeLoader({
  				timeToHide:700, // 로딩중에 걸리는 시간, 1000은 1초
  				bgColor:"#f8f8f8", // 배경색
  				spinner:"spinner2" // 로딩중으로 원하는 로딩이미지타입
    		});
    		
    		fn_reserve();
    		fn_list();
    		
    	});
		
      	document.addEventListener('DOMContentLoaded', function() {
	        var calendarEl = document.getElementById('calendar');
	        var calendar = new FullCalendar.Calendar(calendarEl, {
        	
		       	initialView: 'dayGridMonth',  
		        locale: 'ko',  // 언어
		        timeZone: 'Asia/Seoul',  // 서울시간기준
		        selectable: true, // 선택가능하도록
		        firstDay: 1,  // 월화수목금토일순으로
		          
		        titleFormat: function (date) {  // 월화수목금토일순으로
		            year = date.date.year;
		            month = date.date.month + 1;
		
		            return year + "년 " + month + "월";
		        },
	          
	        selectable: true,
	        editable : true,
	        droppable: true,
	        
	      	select: function(info) {
	      		
	      		var reserveDate = (info.end.getTime() - info.start.getTime()) / (1000*60*60*24);
	      		
	      		if(!confirm('선택하신 일정은 ' + info.startStr + ' ~ ' + info.endStr + '까지 ' + reserveDate + '박 ' + (reserveDate + 1) + '일 일정입니다.' + ' 맞습니까?')) {
	      			$('#RESERVE_BEGIN_DATE').val('');
		       	    $('#RESERVE_END_DATE').val('');
		      	    $('#RESERVE_DATE').val('');
	      			return;
	      			
	      		} else {
	      			$('#RESERVE_BEGIN_DATE').val(info.startStr);
		       	    $('#RESERVE_END_DATE').val(info.endStr);
		      	    $('#RESERVE_DATE').val(reserveDate + '박 ' + (reserveDate + 1) + '일');
	      		}
	      			
	      	}, // select(function)
     	  
       	});
	        
        calendar.render();
        
        }); // 윈도우 function
      	
      	
      	
      	
      	
      	function fn_reserve() {
      		
      		$(document).on('click', '.btn_reserve', function(event) {
      			
      			if($('.DATE').val() == '') {
      				alert('날짜선택은 필수입니다.');
      				$('#RESERVE_BEGIN_DATE').focus();
		      	  	return;
      			}
      			
      			if($('#RESERVE_COUNT').val() == '') {
      				alert('인원수를 입력하세요');
		      	  	$('#RESERVE_COUNT').focus();
		      	  	return;
      			}
      			
    			window.open("/reserve/pay", "예약결제", "width=800, height=1200");
      		});
      		
      	}
      	
      	function fn_list() {
      		// URL 파라미터(campNo) 가져오기
      		let query = window.location.search;  
      	    let param = new URLSearchParams(query);
      	    let campNo = param.get('campNo');
      		
      		$.ajax({
      	    	type: 'get',
      	    	url: 'reserve/list?campNo=' + campNo,
      	    	dataType: 'json',
      	    	success: function(resData) {
      	    		
      	    		// 캠프장 정보 출력
      	    		var campInfo = '<div>';
      	    		campInfo += '캠핑장 : ' + resData.camp[0].facltNm + '<br>';
      	    		campInfo += '주소 : ' + resData.camp[0].addr1 + '<br>';
      	    		campInfo += '특징 : ' + resData.camp[0].featureNm + '<br>';
      	    		campInfo += '부대시설 : ' + resData.camp[0].sbrsCl + '<br>';
      	    		campInfo += '글램핑 내부시설 : ' + resData.camp[0].glampInnerFclty + '<br>';
      	    		campInfo += '카라반 내부시설 : ' + resData.camp[0].caravInnerFclty + '<br>';
      	    		campInfo += '전화번호 : ' + resData.camp[0].tel + '<br>';
      	    		campInfo += '홈페이지 : ' + resData.camp[0].homepage + '<br>';
      	    		campInfo += '</div><hr>';
      	    		$('#camp_info').append(campInfo);
      	    		
      	    		// 캠프장의 텐트현황 출력
      	    		$.each(resData.tentList, function(i, tent) {
      	    			var tent_div = '<div class="tent_div" height="133px">';
      	    			
      	    			// 텐트의 상태가 0이면 		      
      	    			if(tent.tentState == 0) {
      	    				
      	    				tent_div += '<div style="float:left;">';
		      	    		tent_div += '<div><img src="' + tent.tentImage + '" width="200px" height="133px"></img></div>';
		      	    		tent_div += '</div>';
		      	    		
		      	    		tent_div += '<div style="float:left;">';
		      	    		tent_div += '<div>텐트이름 : ' + tent.tentName + ' / </div>'; 
		      	    		switch(tent.tentCategory) {
			      	    		case 0: tent.tentCategory = '글램핑'; break;
			      	    		case 1: tent.tentCategory = '카라반'; break;
			      	    		case 2: tent.tentCategory = '일반야영장'; break;
			      	    		case 3: tent.tentCategory = '자동차야영장';
		      	    		}
		      	    		tent_div += '<div>텐트구분 : ' + tent.tentCategory + ' / </div>'; 
		      	    		tent_div += '<div>최대인원 : ' + tent.tentMaxCount + ' / </div>'; 
		      	    		tent_div += '<div>이용금액 : ' + tent.tentSum + ' / </div>';
		      	    		tent_div += '<div><input type="button" class="btn_reserve" value="예약하기"></div></div>'; 
		      	    		tent_div += '</div>';
		      	    		tent_div += '<div style="clear:both;"></div>';
		      	    		$('#tent_info').append(tent_div);
      	    			} 
      	    				
      	    		});
      	    		
      	    	},
      	    	
      	    }); // ajax
      		
      	}
      	
      	
      	
    </script>
    
</head>
<body>

	<header th:replace="~{layout/header::header_layout}"></header>
	
	<div class="fakeLoader"></div>
	
	<div id="reserve_container">
		<div class="left_side">
			<span id='calendar' ></span>
		</div>
		<div class="right_side">
			<div id="camp_info"></div>
			<div id="reserve_info">
				시작일 <input type="text"  readonly="readonly" id="RESERVE_BEGIN_DATE" class="DATE">
				종료일 <input type="text" readonly="readonly" id="RESERVE_END_DATE" class="DATE">
				일정 <input type="text" readonly="readonly" id="RESERVE_DATE" class="DATE">
				인원수 <input type="text" id="RESERVE_COUNT">
			</div>
			<hr>
			<div id="tent_info"></div>
		</div>
	</div>
	
	
	
	
	
	
	
	
	
</body>
</html>