<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout/header::head('BulMeong')}"></head>

	<link th:href='@{fullcalendar-5.11.3/lib/main.css}' rel='stylesheet' />
    <script th:src='@{fullcalendar-5.11.3/lib/main.js}'></script>
    
   <style>
    	#calendar {
    		width: 600px;
    	}
    	
    	#fc-dom-1 {
    		font-size: 25px;
    	}
    	
    	.fc-daygrid-day-number {
    		font-size: 12px;
    	}
    	
    </style>
    
    <!-- 캘린더 스크립트 -->
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',  
          locale: 'ko',  // 언어
          timeZone: 'Asia/Seoul',  // 서울시간기준
          selectable: true, // 선택가능하도록
          firstDay: 1,  // 월화수목금토일순으로
          
          titleFormat: function (date) {  // 월화수목금토일순으로
            year = date.date.year;
            month = date.date.month + 1;

            return year + "년 " + month + "월";
          },
          editable : true,
          
          dateClick: function(info) {
              alert('Clicked on: ' + info.dateStr);
      	  },
          
        	
        });
        calendar.render();
        
      });
      
    </script>
    
</head>
<body>

	<header th:replace="~{layout/header::header_layout}"></header>
	
	<div id='calendar'></div>
	
</body>
</html>