<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout/header::head('BulMeong')}"></head>

	<link th:href='@{fullcalendar-5.11.3/lib/main.css}' rel='stylesheet' />
	<link th:href='@{fakeLoader.js-master/dist/fakeLoader.min.css}' rel='stylesheet' />
    <script th:src='@{fullcalendar-5.11.3/lib/main.js}'></script>
    <script th:src='@{fakeLoader.js-master/dist/fakeLoader.min.js}'></script>
    
   <style>
    	
    	#fc-dom-1 {
    		font-size: 23px;
    	}
    	
    	.fc-daygrid-day-number {
    		font-size: 12px;
    	}
    	
    	#reserve_container {
    		height: 800px;
    		margin: 0 10px;
    		
    	}
    	
    	.left_side {
    		float: left;
    		width: 39%;
    		height: 500px;
    	}
    	
    	.right_side {
    		float: right;
    		width: 59%;
    		height: 500px;
    	}
    	
    	.right_side input[type=text] {
    		width: 80px;
    		text-align: center;
    	}
    	
    	#calendar_div {
    		color: red;
    	}
    	
    	#camp_info {
    		text-align: center;
    	}
    	
    	
    </style>
    
    <!-- 캘린더 스크립트 -->
    <script th:inline="javascript">
    	
   		var tentMaxCount = [];  // tentMaxCount를 입력받을 배열
   		var frmData = document.reserve_form;
   		
   		// URL 파라미터(campNo) 가져오기
  		var query = window.location.search;  
  	    var param = new URLSearchParams(query);
  	    var campNo = param.get('campNo');
   		var tentNo = $('#tent_info');
   		
    	$(function() {
    		
    		// 화면 이동 시 효과주기
    		$.fakeLoader({
  				timeToHide:700, // 로딩중에 걸리는 시간, 1000은 1초
  				bgColor:"#f8f8f8", // 배경색
  				spinner:"spinner2" // 로딩중으로 원하는 로딩이미지타입
    		});
    		
    		
    		// 함수 호출하기
    		/* fn_reserve(); */
    		fn_list();
    		fn_change();
    		
    		
    		
    	});
		
      	document.addEventListener('DOMContentLoaded', function() {
	        var calendarEl = document.getElementById('calendar');
	        var calendar = new FullCalendar.Calendar(calendarEl, {
        	
		       	initialView: 'dayGridMonth',  
		        locale: 'ko',  // 언어
		        timeZone: 'Asia/Seoul',  // 서울시간기준
		        selectable: true, // 선택가능하도록
		        firstDay: 1,  // 월화수목금토일순으로
		          
		        titleFormat: function (date) {  // 월화수목금토일순으로
		            year = date.date.year;
		            month = date.date.month + 1;
		
		            return year + "년 " + month + "월";
		        },
	          
	        selectable: true,
	        editable : true,
	        droppable: true,
	      	select: function(info) {
	      		var reserveDate = (info.end.getTime() - info.start.getTime()) / (1000*60*60*24);
	      		
	      		if(!confirm('선택하신 일정은 ' + info.startStr + ' ~ ' + info.endStr + '까지 ' + reserveDate + '박 ' + (reserveDate + 1) + '일 일정입니다.' + ' 맞습니까?')) {
	      			$('#RESERVE_BEGIN_DATE').val('');
		       	    $('#RESERVE_END_DATE').val('');
		      	    $('#RESERVE_DATE').val('');
	      			return;
	      			
	      		} else {
	      			$('#RESERVE_BEGIN_DATE').val(info.startStr);
		       	    $('#RESERVE_END_DATE').val(info.endStr);
		      	    $('#RESERVE_DATE').val(reserveDate + '박 ' + (reserveDate + 1) + '일');
		      	  	$('#RESERVE_COUNT').focus();
	      		}
	      	}, // select(function)
       	});
	        
        calendar.render();
        
        }); // 윈도우 function
      	
        
        // 함수 선언
       
      	function fn_list() {
      	    
      		$.ajax({
      	    	type: 'get',
      	    	url: 'reserve/list?campNo=' + campNo,
      	    	dataType: 'json',
      	    	success: function(resData) {
      	    		
      	    		// 캠프장 정보 출력
      	    		var campInfo = '<div>캠핑장 정보<br><hr>';
      	    		campInfo += '<span id="facltNm">캠핑장명 : ' + resData.camp[0].facltNm + '<br>';
      	    		campInfo += '주소 : ' + resData.camp[0].addr1 + '<br>';
      	    		campInfo += '전화번호 : ' + resData.camp[0].tel + '<br>';
      	    		campInfo += '홈페이지 : ' + resData.camp[0].homepage + '<br>';
      	    		campInfo += '</div><hr>';
      	    		$('#camp_info').append(campInfo);
      	    		
      	    		// 캠프장의 텐트현황 출력
      	    		$.each(resData.tentList, function(i, tent) {
      	    			var tent_div = '<div class="tent_div" height="133px" class="" data-maxCount="' + tent.tentMaxCount + '">';
      	    			
      	    			// 텐트의 상태가 0이면 		      
      	    			if(tent.tentState == 0) {
      	    				tentMaxCount[i] = tent.tentMaxCount;
      	    				tent_div += '<div style="float:left;">';
		      	    		tent_div += '<div><img src="' + tent.tentImage + '" width="200px" height="133px"></img></div>';
		      	    		tent_div += '</div>';
		      	    		tent_div += '<div style="float:left;">';
		      	    		tent_div += '<div>텐트 이름 : ' + tent.tentName + ' / </div>'; 
		      	    		switch(tent.tentCategory) {
			      	    		case 0: tent.tentCategory = '글램핑'; break;
			      	    		case 1: tent.tentCategory = '카라반'; break;
			      	    		case 2: tent.tentCategory = '일반야영장'; break;
			      	    		case 3: tent.tentCategory = '자동차야영장';
		      	    		}
		      	    		tent_div += '<div id="category" data-category = "' + tent.tentCategory + '">텐트 구분 : ' + tent.tentCategory + ' / </div>'; 
		      	    		tent_div += '<div>최대 인원 : ' + tent.tentMaxCount + ' / </div>'; 
		      	    		tent_div += '<div>이용 금액 : ' + tent.tentSum + ' / </div>';
		      	    		tent_div += '<div id="div_reserve"><input type="submit" class="btn_reserve" value="예약하기" data-tentname="' + tent.tentName+ '"  data-tentno="' + tent.tentNo + '" data-count="' + tent.tentMaxCount + '" onclick="fn_reserve(this)"></div></div>'; 
		      	    		tent_div += '</div>';
		      	    		tent_div += '<div style="clear:both;"></div>';
		      	    		$('#tent_info').append(tent_div);
      	    			}
      	    		}); // each
      	    	},
      	    }); // ajax
      	}
      	
       	function fn_change() {
       		
       		let check = /^[1-9]+$/;  // 숫자 정규식
      		$('#RESERVE_COUNT').on('change', function() {
      			
      			// 인원수 입력(정규식 숫자만 가능)
      			if(!check.test($('#RESERVE_COUNT').val())) {
      				alert('0 이상의 숫자만 입력 가능합니다.')
      				$('#RESERVE_COUNT').val('');
      				$('#RESERVE_COUNT').focus();
      				return;
      			} 
      			
      			// 텐트의 수용인원을 초과한 숫자를 입력하는 경우
      			else if($('#RESERVE_COUNT').val() > Math.max(...tentMaxCount)) {
      				alert('모든 텐트의 수용 가능 인원을 초과하였습니다. 다시 입력해주세요.');
      				$('#RESERVE_COUNT').val('');
      				$('#RESERVE_COUNT').focus();
      				return;
      			}
      		});
      	}
       	
		function fn_reserve(e) {
      		
      			if($('.DATE').val() == '') {
      				alert('날짜선택은 필수입니다.');
      				$('#calendar').focus();
      				event.preventDefault();
		      	  	return;
      			}
      			
      			if($('#RESERVE_COUNT').val() == '') {
      				alert('인원수를 입력하세요');
		      	  	$('#RESERVE_COUNT').focus();
		      	 	event.preventDefault();
		      	  	return;
      			}
      			
      			if($(e).data('count') < $('#RESERVE_COUNT').val()) {
      				alert('수용가능 인원을 초과하여 해당 텐트는 예약이 불가합니다.');
      				event.preventDefault();
      				return;
      			}
      			
      			
      			$.ajax({
      				type: 'get',
      				success: function(resData) {
      					window.open("/reserve/pay?campNo=" + campNo + '&tentNo=' + $(e).data('tentno') + '&RESERVE_BEGIN_DATE=' + $('#RESERVE_BEGIN_DATE').val() + '&RESERVE_END_DATE=' + $('#RESERVE_END_DATE').val() + '&RESERVE_COUNT=' + $('#RESERVE_COUNT').val()  , "예약결제창", "width=600px height=800px");
      				}
      			})
      	}
       	
       	
      	
    </script>
    
</head>
<body>

	<header th:replace="~{layout/header::header_layout}"></header>
	
	<div class="fakeLoader"></div>
		
		<div id="reserve_container">
			<div class="left_side">
				<span id='calendar'></span>
			</div>
			<div class="right_side">
				<div id="calendar_div">
					* 달력에 마우스를 드래그하여 숙박희망 날짜를 선택하고 인원수를 입력하세요
				</div>
					시작일 <input type="text"  readonly="readonly" id="RESERVE_BEGIN_DATE" name="RESERVE_BEGIN_DATE" class="DATE">
					종료일 <input type="text" readonly="readonly" id="RESERVE_END_DATE" name="RESERVE_END_DATE" class="DATE">
					숙박일 <input type="text" readonly="readonly" id="RESERVE_DATE" name="RESERVE_DATE" class="DATE">
					인원수 <input type="text" id="RESERVE_COUNT" name="RESERVE_COUNT"><hr>
				<div id="camp_info"></div>
				<div id="reserve_info"></div>
				<hr>
				<div id="tent_info">
					<div style="text-align: center">텐트 현황</div><hr>
				</div>
			</div>
		</div>
	
	
	
	
	
	
</body>
</html>