<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout/header::head('Bulmeong Pay')}"></head>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
	<!-- <link th:href='@{fakeLoader.js-master/dist/fakeLoader.min.css}' rel='stylesheet' />
    <script th:src='@{fakeLoader.js-master/dist/fakeLoader.min.js}'></script> -->
    
    <style>
    
    </style>
    
    <script th:inline="javascript">
    
    
    	$(function() {
    		
    		// 함수 호출
			pay();    		
	   		fn_close();
	    	console.log($('#reserveBeginDate').val());
    		
    	});
    	
    	
    	function pay() {  // (data)
    		
    		$('#btn_pay').click(function(){
    			
				IMP.init('imp72345478');  // '가맹점 식별코드' 입력  // 초기화
				IMP.request_pay({  // param   // 결제창 호출
					pg: "html5_inicis", // pg사명 or pg사명.CID (잘못 입력할 경우, 기본 PG사가 띄워짐, 아임포트 홈페이지에서 추가한 pg만 가능하다.)  // "html5_inicis"  // "kakaopay.TC0ONETIME"
					pay_method: "card",
					merchant_uid: "testpaysera" + new Date().getTime(),  // DB에 주문 레코드를 생성하여 해당 레코드의 주문번호를 param.merchant_uid 에 지정하기
					name: $('#productName').val(),  // 결제창에 노출될 상품명 
					amount: $('#reserveSum').val(),  // 네이버페이 최소 주문금액 100원
					buyer_email : "",
					buyer_name : $('#reserveName').val(),
					buyer_tel: $('#mobile').val(),
					/* buyer_addr: "서울특별시 강남구 신사동", */
			        /* buyer_postcode: "01181" */
				}, function (rsp) {  // callback  // 결제 완료
					if (rsp.success) {
						alert("결제 및 예약이 완료되었습니다.");  // alert('결제 및 예약이 완료되었습니다.');  // location.href="결제 완료 후 이동할 페이지 url"
						$('#frm_add').submit();
						/* location.href="/";  // 마이페이지 예약내역으로 이동하기 */
					} else {
						alert("결제 및 예약이 취소되었습니다.");  // alert('결제 및 예약에 실패하였습니다. 에러 : ' + rsp.error_msg); 
					}
	
				});
			
    		});
		}
    	
    	
    	
    	
    	
    	function fn_close() {
			
			$('#btn_close').click(function() {
				alert('예약이 취소되었습니다.');
				history.back();
			})
			
		}
    	
    	
    	
		
    	
    	
    	
    	
    	
    
    </script>
    
    
    
</head>
<body>
	<header th:replace="~{layout/header::header_layout}"></header>
	
	<form id="frm_add" method="post" th:action="@{/reserve/add}">
		<div id="pay_container">
			
			<div id="tent_info">
				<input type="hidden" name="campNo" th:value="${camp.campNo}">
				<input type="hidden" name="tentNo" th:value="${tent.tentNo}">
				<input type="hidden" name="id" th:value="${loginUser.id}">
				<div>텐트 정보</div><hr>
				<div>
					<img th:src="${tent.tentImage}" style="width:200px; height:133px"> 
				</div>
				<div>
					텐트 종류 <input type="text" id="strCategory" readonly th:value="${strCategory}"> 
				</div>
				<div>
					텐트명 <input type="text" id="tentName" readonly th:value="${tent.tentName}"> 
				</div>
				<div>
					텐트 금액 <input type="text" id="tentSum" readonly th:value="${tent.tentSum}"> 
				</div>
				<div th:if="${tent.tentCategory} == '0'">
					<div th:text="|내부시설 : ${camp.glampInnerFclty}|"></div>
				</div>
				<div th:if="${tent.tentCategory} == '1'">
					<div th:text="|내부시설 : ${camp.caravInnerFclty}|"></div>
				</div>
			</div>
			
			<hr>
			
			<div id="use_info">
				<div>이용 안내</div><hr>
				<div>
					<ul>
						<li>기본 캠핑 매너를 지켜주세요.</li>
						<li>예약 손님 외에는 캠핑장 내 시설 사용을 금지합니다.</li>
						<li>퇴실 시 기본 정리정돈 쓰레기 분리수거, 식기류 반납 부탁드립니다.</li>
						<li>귀중품 분실 시 책임은 본인에게 있습니다.</li>
						<li>텐트 내 화기사용 및 흡연은 강제퇴실 사유입니다.</li>
						<li>글램핑장 내부 모든 지역은 금연구역입니다.</li>
					</ul>
					
				</div>
				
			</div>
			
			<hr>
			
			<div id="reserve_info">
				<div>예약 정보</div><hr>
				<div>
					예약자명 <input type="text" id="reserveName" name="reserveName" th:value="${loginUser.name}">
				</div>
				<div>
					전화번호 <input type="text" id="mobile" th:value="${loginUser.mobile}">
				</div>
				<div>
					상품명 <input type="text" id="productName" readonly th:value="${camp.facltNm + '_' + tent.tentName}"> 
				</div>
				<div>
					예약인원 <input type="text" id="reserveCount" name="reserveCount" readonly th:value="${reserveCount}"> 
				</div>
				<div>
					<input type="hidden" id="reserveBeginDate" name="reserveBeginDate" th:value="${reserveBeginDate}">
					<input type="hidden" id="reserveEndDate" name="reserveEndDate" th:value="${reserveEndDate}">
					예약일   <input type="text" id="reserveBeginEndDate" readonly th:value="${reserveBeginEndDate}"> 
				</div>
				<div>
					숙박일정 <input type="text" id="reserveDate" readonly th:value="${reserveDate}"> 
				</div>
				<div>
					합계금액 <input type="text" id="reserveSum" name="reserveSum" readonly th:value="${tent.tentSum * reserveCount * reserveDate2}"> 
				</div>
			</div>
			
			<hr>
			
			<div>
				<input type="button" value="결제하기" id="btn_pay">
				<input type="button" value="취소하기" id="btn_close">
			</div>
			
		</div>
	</form>
	
	
</body>
</html>