@charset "EUC-KR";

body {
	margin: 0 auto;
}


  	
/* 찜 리스트 */

.rank_image {
	width: 70%;
	margin: 50px auto;
	text-align: center;
}


.jjimListArea {
	text-align: center;
	width: 70%;
	margin: 0 auto;
}

#tbody_jjim > tr{
	height: 100px;
}

#tbody_jjim > tr > td {
	vertical-align: middle;
}

#tbody_jjim > tr > td > a:hover {
	color: rgb(204, 75, 76);
}





/* 자유게시판 표 */

.freebrd_title {
	font-size: 13px;
	color: gray;
}


.freebrd_title:hover {
	color: rgb(204, 75, 76, 0.8);

}

.top5_style {
	font-size: 25px;
	transition: all ease 1s;
}
.top5_style:hover {
	font-size: 25px;
	transform: rotate( 5deg );
}


.freebrd_title_box {
	width: auto;
	margin: 30px 0;
	text-align: center;
}

/* 자게 리스트 1개 박스 */


.freeBoardList {
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 40px;
	width: 70%;
	margin: 0 auto;
}

.freebrd_box {
	margin: auto;
	width: auto;
	padding:  0px; 
}

.freebrd_one_box {
	display: inline-block;
	margin: 0 2%;
	padding: 10px;
	border: 3px solid rgb(204, 75, 76, 0.1);
	border-radius: 15px;
	
	outline: 0.5px dotted rgb(180, 185, 191);
	
	box-shadow: 5px 5px 5px rgb(125, 125, 125, 0.3);
		
	width: 16%;
	height: 300px;
	
	max-width: 16%;
	max-height: 300px;
	overflow: hidden;
	
	word-wrap:break-word;
	position: relative;
}

.free_title {
	padding: 10px 0;
	border-bottom: 1px solid;
}
.free_title:hover > a {
	color: rgb(204, 75, 76, 0.8);
}


.free_content > a {
	width: 100%;
	height: 80%;
	margin: 0;
	/* 넘치는 글자 */
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-word;
	display: -webkit-box;
	/* 생략할 줄 */
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
	font-size: 12px;
	color: rgb(125, 125, 125);
}

.free_content > a:hover {
	color: rgb(204, 75, 76, 0.8);
	
}

.free_like_style {
	position: absolute;
	bottom: 35px;
	font-size: 13px;
}

.free_nickname {
	position: absolute;
	bottom: 10px;
	font-size: 13px;
}

.free_createDate {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 11px;
	color: rgb(125, 125, 125);
}


/* 테마 캠핑장 스와이프 */
.thema {
	font-size: 15px;
	font-weight: 900;
	color: rgb(120, 120, 120);
}

.swiper-overflow-container {
	grid-column-start: 1;
	grid-column-end: 4;
	margin: auto;
	text-align: center;
	width: 70%;
}


.swiper_body {
	background: none;
	margin: auto;
	text-align: center;
}

.swiper-slide swiper-slide-duplicate {
	margin: none;
}

.swiper-slide swiper-slide-active {
	margin: none;
}

/* 관리자 게시판 메뉴들 */
.main-quick {
	width: 70%;
	margin: 50px auto;
	display: inline block;
	text-align: center;
}

.main-quick > a {
	margin: auto;
	text-align: center;
}

.main-quick > a > img {
	margin: auto;
	text-align: center;
}