@charset "EUC-KR";

body {
	width: 70%;
	margin: 0 auto;
}
  	
/* #container { */
/* 	display: grid; */
/*    grid-template-columns: 60% 30%; */
/*    grid-template-rows: 50% 50% 50%; */
/*    margin: 30px; */
/* } */
 	
.jjimListArea {
	text-align: center;
	width: 98%;
}
 	
#weatherArea {
 	text-align: center;
	grid-column-start: 2;
	grid-column-end: 4;
}
 	
.location > div {
	padding-bottom: 10px;
}
 	
.xyWeather {
	grid-column-start: 2;
	grid-column-end: 4;
}
 	
.swiper-overflow-container {
 	grid-column-start: 1;
	grid-column-end: 4;
}
 	
 	
.today, .tomorrow, .afterTomorrow {
	width: 33%;
}
 	
.today > div, .tomorrow > div, .afterTomorrow > div {
	margin: 0 auto;
}



/* 자유게시판 표 */
.freebrd_title_box {
	width: auto;
	margin: 30px 0;
	text-align: center;

}

.freebrd_title {
	font-size: 13px;
	color: gray;
	border-bottom: 1px solid gray;
}


/* 자게 리스트 1개 박스 */


.freeBoardList {
	max-width: 100%;
	overflow: hidden;
	background: rgb(180, 185, 191, 0.2);
}

.freebrd_box {
	margin: auto;
	width: auto;
	padding: 20px 0px; 
}

.freebrd_one_box {
	display: inline-block;
	margin: 0 2%;
	padding: 10px;
	border: 5px solid rgb(240, 241, 242);
	border-radius: 15px;
	
	background: rgb(204, 75, 76, 0.2);
	outline: 0.5px dotted rgb(204, 75, 76);
	
	width: 16%;
	height: 200px;
	
	max-width: 16%;
	max-height: 200px;
	overflow: hidden;
	
	word-wrap:break-word;
	position: relative;
}

.free_title {
	padding: 10px 0;
	border-bottom: 1px solid;
}

.free_content > a {
	text-overflow: ellipsis;
	  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
  height: 20px;
}

.free_like_style {

}

.free_nickname {

}

.free_createDate {


}