@charset "EUC-KR";

body {
	margin: 0 auto;
}

header {
	width: 70%;
	margin: 0 auto;
}
  	
/* #container { */
/* 	display: grid; */
/*    grid-template-columns: 60% 30%; */
/*    grid-template-rows: 50% 50% 50%; */
/*    margin: 30px; */
/* } */

.jjimListArea {
	text-align: center;
	width: 98%;
}
 	
#weatherArea {
 	text-align: center;
	grid-column-start: 2;
	grid-column-end: 4;
}
 	
.location > div {
	padding-bottom: 10px;
}
 	
.xyWeather {
	grid-column-start: 2;
	grid-column-end: 4;
}
 	
.swiper-overflow-container {
 	grid-column-start: 1;
	grid-column-end: 4;
}
 	
 	
.today, .tomorrow, .afterTomorrow {
	width: 33%;
}
 	
.today > div, .tomorrow > div, .afterTomorrow > div {
	margin: 0 auto;
}



/* 자유게시판 표 */

.freebrd_title {
	font-size: 13px;
	color: gray;
}


.freebrd_title:hover {
	color: rgb(204, 75, 76, 0.8);

}

.top5_style {
	font-size: 25px;
	transition: all ease 1s;
}
.top5_style:hover {
	font-size: 25px;
	transform: rotate( 5deg );
}





.freebrd_title_box {
	width: auto;
	margin: 30px 0;
	text-align: center;
}
.freebrd_title_box:hover {
	
}


/* 자게 리스트 1개 박스 */


.freeBoardList {
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 40px;
	width: 70%;
	margin: 0 auto;
}

.freebrd_box {
	margin: auto;
	width: auto;
	padding:  0px; 
}

.freebrd_one_box {
	display: inline-block;
	margin: 0 2%;
	padding: 10px;
	border: 3px solid rgb(204, 75, 76, 0.1);
	border-radius: 15px;
	
	outline: 0.5px dotted rgb(180, 185, 191);
	
	box-shadow: 5px 5px 5px rgb(125, 125, 125, 0.3);
		
	width: 16%;
	height: 300px;
	
	max-width: 16%;
	max-height: 300px;
	overflow: hidden;
	
	word-wrap:break-word;
	position: relative;
}

.free_title {
	padding: 10px 0;
	border-bottom: 1px solid;
}
.free_title:hover > a {
	color: rgb(204, 75, 76, 0.8);
}


.free_content > a {
	width: 100%;
	height: 80%;
	margin: 0;
	/* 넘치는 글자 */
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-word;
	display: -webkit-box;
	/* 생략할 줄 */
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
	font-size: 12px;
	color: rgb(125, 125, 125);
}

.free_content > a:hover {
	color: rgb(204, 75, 76, 0.8);
	
}

.free_like_style {
	position: absolute;
	bottom: 35px;
	font-size: 13px;
}

.free_nickname {
	position: absolute;
	bottom: 10px;
	font-size: 13px;
}

.free_createDate {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 11px;
	color: rgb(125, 125, 125);
}