<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('BulMeong')}"></head>
<body>

	<header th:replace="~{layout/header::header_layout}"></header>
	
	<!-- 로그인이 안 된 상태 -->
	<div th:if="${session.loginUser == null}">
		<a th:href="@{/users/agree}">회원가입</a>
		<a th:href="@{/users/login/form}">로그인</a>
	</div>
	
	<!-- 로그인이 된 상태 -->
	<div th:if="${session.loginUser != null}">
		<div style="border:solid 1px black; width:300px; text-align:center">
			<a th:href="@{/users/profile}"><img th:src=${session.loginUser.profileImage} width="38px" style="border:1px solid black;"></a>
			<span th:text="|${session.loginUser.nickname}님 반갑습니다.|"></span>
			<br>
			<br>
			<a th:href="@{/users/logout}">로그아웃</a>
		</div>
	</div>
	
	
	
</head>
	


	<!-- 홈화면 -->
    <!-- Swiper -->
    <div class="swiper-overflow-container" style="width:70%">
		<div class="swiper_html">
    		<div class="swiper_body">
    			<div class="swiper-container mySwiper">
    			<hr><div>여행테마별 캠핑장</div>
       			<div class="swiper-wrapper"></div>
      			<div class="swiper-pagination"></div>
    			</div>
   			</div>
		</div>
	</div>
    
 	 <!-- Initialize Swiper -->
 	 <!-- 캠핑장 리스트 -->
  	<script>
  	
  		function fn_swiper() {
  			var swiper = new Swiper('.mySwiper', {
  	      		slidesPerView: 3,
  	      		slidesPerColumn: 2,
  	      		spaceBetween: 30,
  	      		slidesOffsetBefore: 20,
  	      	  	slidesOffsetAfter: 20,
  	      		pagination: {
  	        		el: '.swiper-pagination',
  	        		clickable: true,
  	      		},
  	    	});
  		}
  		
  		$.ajax({
  			type: 'get',
  			url: '/index/listIndex',
  			success: function(resData) {
  				/* var rand = [];
  				for(let i=0; i < 10; i++) {
	  				rand.push( Math.floor(((Math.random() * resData.camp.length) + 1)) );
  				}
  				var set = new Set(rand);
  				var uniqueRand = [...rand]; */
  				
  				$.each(resData.camp, function(i, camp) {
  					if(camp.themaEnvrnCl != '') {
		  				var campDiv = '<div class="swiper-slide">';
		  				campDiv += '<div><img src ="' + camp.firstImageUrl + '" style="width:175px; height:116px"><img><div>';
		  				campDiv += '<div style="font-size:4px">' + camp.facltNm + '<div>';
	  					if(!camp.themaEnvrnCl.startsWith(',')) {
	  						campDiv += '<div style="font-size:4px">' + '#' + camp.themaEnvrnCl.replaceAll(',',' #'); + '<div>';
	  					} 
	  					
		  				$('.swiper-wrapper').append(campDiv);
		  				
  					}
  				})
  				fn_swiper();
  			}
  		})
  		
  	</script>
  	
  	<div class="weatherLoaction"></div>
	<script>
		
		// 위치정보 받아오기
		navigator.geolocation.getCurrentPosition(
			
			function(position) {
				var latitude = position.coords.latitude;
				var longitude = position.coords.longitude;
				
				fn_addr(latitude, longitude);     // 좌표->주소 api
				fn_weather(latitude, longitude);  // 좌표->날씨 api
				
			}, 
		);

		// 주소 api 받아오기 https://www.vworld.kr/dev/v4dv_geocoderguide_s002.do
		function fn_addr(x, y) {
		    $.ajax({
				type: 'get',
				url: '/index/location',
				data: 'latitude=' + x + '&longitude=' + y,
				success: function(resData) {
					var jsonObj = JSON.parse(resData.location);  // jsonObj - ADDR : "서울특별시 금천구 가산동 557-3"
					
					var locationDiv = '<div class="location">';
					locationDiv += '<div>' + jsonObj.ADDR + '</div>';
					$('.weatherLoaction').append(locationDiv);
				}
			})
	    }
		
		// 오늘 날짜 구하기(yyyyMMdd)
		function getToday(){
		    var date = new Date();
		    var year = date.getFullYear();
		    var month = ("0" + (1 + date.getMonth())).slice(-2);
		    var day = ("0" + date.getDate()).slice(-2);

		    return year + month + day;
		}
		
		
		// 기상청 api 받아오기
	    function fn_weather(x, y) {
		    $.ajax({
				type: 'get',
				url: '/index/weather',
				data: 'latitude=' + x + '&longitude=' + y,
				success: function(resData) {
					var weather = resData.weather;
					console.log(weather);
					
					var today = getToday();
					
					
					
					
					$.each(weather, function(i, item) {
						
						if(today == weather.fcstDate) {
							
						}
						
						
					})
						
					var weatherDiv = '<div class="weather">';
					
					weatherDiv += '<div style="float:left">'; 
					weatherDiv += '<div> 오늘 &nbsp;&nbsp;</div>'; 
					weatherDiv += '<div>' + 'd' + '</div>'; 
					weatherDiv += '</div>'; 

					weatherDiv += '<div style="float:left">'; 
					weatherDiv += '<div> 내일 &nbsp;&nbsp;</div>'; 
					weatherDiv += '<div>' + 'd' +'</div>'; 
					weatherDiv += '</div>'; 

					weatherDiv += '<div style="float:left">'; 
					weatherDiv += '<div> 모레 &nbsp;&nbsp;</div>'; 
					weatherDiv += '<div>' + 'd' +'</div>'; 
					weatherDiv += '</div>'; 
					
					weatherDiv += '</div>';
					
					$('.weatherLoaction').append(weatherDiv);
					
					
				}
			})
	    }
	</script>
	
	
</body>
</html>