<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('QNA목록')}"></head>
<link th:href="@{/css/qna.css}" rel="stylesheet" />
<script th:inline="javascript">
	
	$(document).ready(function(){
	
	
		$('#qnaqna').click(function(){
			event.preventDefault();
		});
		
		$('.btn_contentToggle').click(function(){
			$(this).next().toggleClass('blind');			
		});
			
		$('#btn_writeAnswer').click(function() {			
			$(this).addClass('blind');
			$(this).prev().toggleClass('blind');
			$(this).next().toggleClass('blind');			
		});
			
		$('#frm_answer_add').submit(function(event){
			if($('#writeAnswer').val() == '') {
				alert('내용을 작성하세요.');
				event.preventDefault();
				return;
			}
		});
		
		$('#btn_remove').click(function(){
			if(confirm('삭제할까요?')){
				$(this).parent().submit();
			}
		})
		
		
		/*
		1226 depth2일때만 답변달기 버튼 보이게
		checkbox체크되면 (비밀글하겟단뜻) state 2로 설정
		*/ 
		
		
		
// 		function GetShow(){
// 			var con = document.getElementById("qnaqna");
// 			if(con.style.display =="none"){
// 				con.style.display == "block";
// 			} else {
// 				con.style.display == "none";
// 			}
// 		}
		

	    var parentIpt = document.getElementById('parent_ipt');
	    var btn_qnaWrite = document.getElementById('btn_qnaWrite');
	    var childWindow = null;
	    function openChildWindow(url, name) {
	        const windowWidth = 500;
	        const windowHeight = 700;
	        const left = 700;
	        const top = 170;
	        const features = 'width=' + windowWidth + 'px,height=' + windowHeight + 'px,left=' + left + 'px,top=' + top + 'px';
	        if(childWindow == null || childWindow.closed) {
	            childWindow = open(url, name, features);
	        }
	    }   
	    
	    btn_qnaWrite.onclick = function(event){
	    	openChildWindow('/popup', 'popup');
	    }
	    
// 	    function setChildValue(qnaTitle, qnaContent){
	
// 	        document.getElementById("${qna.qnaTitle}").value = qnaTitle;
// 	        document.getElementById("${qna.qnaContent}").value = qnaContent;
	
// 	  	}
    

	});
</script>
<body>

	
	<header th:replace="~{layout/header::header_layout}"></header>
	
	<!--
	<div>
		<input type="button" value="문의하기" id="btn_write">
		<input type="button" value="문의하기" onclick="fn_qnaWritePopup();">
	</div>
	
	<script>
		
		fn_qnaWritePopup();
	
		function fn_qnaWritePopup() {
			popup = window.open('/popup','qnaWritePopup','width=500,height=700,left=700,top=170,scrollbars=yes,resizable=yes,history=no');
		}
	</script>
	
	<script>
	
			function fn_qnaWritePopup(){
				$('#btn_write').click(function(event){
					window.open('/qna/write', 'qnaWritePop', 'left=700, top=170, width=500, height=700', history=no, reisizable=yes);
			});
			}
	</script>
	-->
	
<!-- 	<script>
 		function fn_qnaWritePopup() {
 			window.open('/popup','popup','width=500,height=700,left=700,top=170,scrollbars=yes,resizable=yes');
 		}
</script> -->
	<h2>Q&A</h2>
	<div class="css_btn_qnaWrite">
		<input type="button" value="문의하기" id="btn_qnaWrite">
	</div>
	
	<div class="css_my_qnaList">
		<input type="button" value="내가 작성한 Q&A" id="my_qnaList">
	</div>
	
	<hr>
	<div class="css_tableWrap">
		<table border="1">
			<thead>
				<tr>
					<th>답변상태</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th>
<!-- 					loginUser가 관리자일때만 보이게 -->
					<th:block th:if="${session.loginUser} != null and ${session.loginUser.id} == 'admin'">
						<th>삭제</th>
					</th:block>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="qna:${qnaList}">
					<tr>	
						<td>
							<span th:if="${qna.depth} eq 0">미답변</span>
							<span th:if="${qna.depth} eq 1">답변완료</span>
						</td>
						<td>
							<th:block th:if="${qna.qnaState == 1}">
								<div class="btn_contentToggle">
									<a th:href="@{#}" th:text="${qna.qnaTitle}" id="qnaqna"></a>
								</div>
								<div id="toggle_area" class="blind">
									<span th:text="${qna.qnaTitle}"></span><br>
									<span th:text="${qna.qnaContent}"></span>
<!-- 									<div th:text="${qna.qnaContent}"> -->
									<div th:if="${session.loginUser != null} and ${session.loginUser.id == 'admin'}">
										<form id="frm_answer_add" method="post" th:action="@{/qna/answer/add}">
											<textarea id="writeAnswer" rows="10" cols="30" class="blind"></textarea>
											<input type="button" id="btn_writeAnswer" value="답변하기">
											<input type="button" id="btn_submitAnswer" value="작성완료" class="blind">
										</form>
									</div>
								</div>
							</th:block>
							
							<th:block th:if="${qna.qnaState == 2}">
								<div th:if="${session.loginUser != null} and ${session.loginUser.id == qna.id} or ${session.loginUser.id == 'admin'}">
									<div class="btn_contentToggle">
										<a th:href="@{#}" th:text="${qna.qnaTitle}" id="qnaqna"></a>
									</div>
									<div id="toggle_area" class="blind">
										<span th:text="${qna.qnaTitle}"></span><br>
										<span th:text="${qna.qnaContent}"></span>
<!-- 										<div th:text="${qna.qnaContent}" class="blind"> -->
										<div th:if="${session.loginUser} != null and ${session.loginUser.id} == 'admin'">
<!-- 											<form id="frm_answer_add" method="post" th:action="@{/qna/answer/add}"> -->
<!-- 												<textarea id="writeAnswer" rows="10" cols="30" class="blind"></textarea> -->
<!-- 												<input type="button" id="btn_writeAnswer" value="답변하기"> -->
<!-- 												<input type="button" id="btn_submitAnswer" value="작성완료" class="blind"> -->
<!-- 											</form> -->
										</div>
									</div>
								</div>
								<div th:if="${session.loginUser} != null and ${session.loginUser.id} != ${qna.id} and ${session.loginUser.id} != 'admin'">
									<div>비밀글입니다</div>
								</div>
<!--  								<div th:if="${session.loginUser} != null and ${session.loginUser.id} == 'admin'"> -->
<!--  									<div th:text="${qna.qnaTitle}" id="btn_contentToggle"></div> -->
<!-- 									<div th:text="${qna.qnaContent}" class="blind"></div> -->
<!--  								</div> -->
							</th:block>
						</td>
						<td th:utext=${qna.id}></td>
<!-- 						<td th:text="$(#dates.fomat(qna.qnaCreateDate,'yyyy/M/d))" ></td> -->
						<td th:utext=${qna.qnaCreateDate}></td>
						
<!-- 						<th:block th:if="${loginUser == 'admin'}"> -->
<!-- 							<td><input type="button" value="답변달기" id="btn_reply_qna"></td> -->
<!-- 						</th:block> -->
					
						
						<td>
							<div th:if="${session.loginUser != null} and ${session.loginUser.id == 'admin'}">
								<form method="post" th:action="@{/qna/remove}">
									<input type="hidden" name="qnaNo" th:value="${qna.qnaNo}">
									<input type="button" value="삭제" id="btn_remove">
								</form>
							</div>
						</td>
					</tr>
					<tr class="answer_write blind">
						<th:block th:if="${session.loginUser != null} and ${session.loginUser.id == 'admin'}">
							<td colspan="4">
								<form method="post" th:action="@{qna/answer/add}">
									<div>
										<textarea class="writeAnswer" name="qnaContent" rows="10" cols="30" placeholder="답변을 입력하세요."></textarea>
										<input type="submit" value="작성완료">
									</div>
									<input type="hidden" name="id" th:value="${qna.id}">
									<input type="hidden" name="depth" th:value="${qna.depth}">
									<input type="hidden" name="groupNo" th:value="${qna.qnaGroupNo}">
								</form>
							</td>
						</th:block>
					</tr>
				</th:block>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" th:utext="${paging}"></td>
				</tr>
			</tfoot>
		</table>
	</div>
<!-- 	<footer th:replace="~{layout/footer::footer_layout}"></footer> -->
</body>
</html>