<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<head th:replace="~{layout/header::head('Bul meong Q&A작성')}"></head>
<link th:href="@{/css/qna/popup.css}" rel="stylesheet" />
<script th:inline="javascript">
	$(function(){
		fn_AddQuestion();
		fn_closePopup();
		fn_checkbox();
	});
	
		function fn_AddQuestion(){
			$('#frm_writePop').submit(function(event){
				if($('#qnaTitle').val() == ''){
					alert('제목을 작성하세요.');
					$('#qnaTitle').focus();
					event.preventDefault();
					return;
				}
				fn_checkbox();
			});
		}
		
		function fn_closePopup(){
			$('#btn_popupClose').click(function(){
				window.close();
			});
		}
		
		function fn_checkbox() {
			if($('#flexSwitchCheckDefault').is(':checked')){
				$('#qnaState').val(1);
			} else {
				$('#qnaState').val(0);
			}
		}
</script>

<body>
    
    <form id="frm_writePop" th:object="${qna}" th:action="@{/qna/add}" method="post">
	    <div class="input_wrap">
			<div th:text="|작성자 ${session.loginUser.id}|" class="css_qna_writer"></div>
			<input type="hidden" id="id" name="id" th:value="${session.loginUser.id}">
		</div>
	    <div class="css_writeWrap">
	        <label for="qnaTitle">제목</label>
	        <input type="text" id="qnaTitle" name="qnaTitle" placeholder="제목을 입력해주세요.">
	    </div>
	    <div class="css_writeWrap">
	        <label for="qnaContent">내용</label><br>
	        <textarea id="qnaContent" name="qnaContent" placeholder="내용을 입력하세요."></textarea>
	    </div>
	    <div class="form-check form-switch">
  			<input type="checkbox" class="form-check-input" role="switch" id="flexSwitchCheckDefault">
 			<input type="hidden" name="qnaState" id="qnaState">
 			<label class="form-check-label" for="flexSwitchCheckDefault">비밀글</label>
		</div>
	    <div class="footer">
	        <input type="submit" value="작성완료" id="btn_popupSubmit">
	        <input type="reset" value="작성초기화" class="btn_pupupReset">
	        <input type="button" id="btn_popupClose" value="닫기">
	    </div>
    </form>
    
</body>

</html>