@charset "UTF-8";

.blind {
	display: none;
}

/* list.html */
body {
	width: 70%;
	height: 100%;
	margin: auto;
/* 	border: 1px #a39485 solid; */
}  

.css_ccupdegy {
	width:100%;
	height:40px;
	border: 1px rgb(255, 255, 255) solid;
	border-radius: 15px 15px 0px 0px;
	background-color: rgba(113, 194, 133);
}

.css_detail_wrap {
	border: 1px rgb(255, 255, 255) solid;
	margin-top: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	border-radius: 15px;
}

.css_notice_title_wrap{
	border-bottom: 2px lightgrey solid;
	height: 50px;
	font-size: 25px;
}

.css_notice_title_wrap > span{
	padding-top: 30px;
}

#only_admin {
	float: right;
	
}

.css_ooo {
	vertical-align: middle;
	border-bottom: 2px lightgrey solid;
}

.css_notice_createDate {
	display: inline-block;
}

.css_notice_hit {
	display: inline-block;
	float: right;
	margin-right: 3px;
	color: #a39485;
	size: 9px;
}

.css_noticeContent{
	margin: 10px;
	padding: 20px;
	background: rgb(180, 185, 191, 0.2);
	border-radius: 15px;
	word-wrap:break-word;
}

.css_noticeContent > p > img {
	display: block;
	height:auto;
	max-width: 100%;
	margin: auto;
	object-fit:contain;
}

#admin_only {
	display: fixed;
	width: 70%;
	bottom: 30px;
	
	
}

#btn_edit_notice, #btn_remove_notice, .css_notice_list {
	width: 60px;
	height:32px;
	border: 1px #CC4B4C solid;
	border-radius:7px;
	color: rgba(204, 75, 76);
	background-color: white;
	margin: 5px;
	float: right;	
}

#btn_edit_notice:hover, #btn_remove_notice:hover, .css_notice_list:hover {
	background-color: rgba(204, 75, 76); 
    transition-duration: 0.3s;
    color: white;

    
}