<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('약관 동의')}"></head>
<head>
	<style>
		.blind {
			display: none;
		}
		.lbl_all, .lbl_one {
			padding-left: 20px;
			background-image: url(/images/uncheck.png);
			background-size: 18px 18px;
			background-repeat: no-repeat;
		}
		.lbl_checked {
			background-image: url(/images/check.png);
		}
	</style>
	<script>
		$(function(){
			fn_checkAll();
			fn_checkOne();
			fn_toggleCheck();
			fn_submit();
		});
		
		function fn_checkAll(){
			$('#check_all').click(function(){
				$('.check_one').prop('checked', $(this).prop('checked'));
				
				if($(this).is(':checked')){  
					$('.lbl_one').addClass('lbl_checked');
				} else {
					$('.lbl_one').removeClass('lbl_checked');
				}
			});
		}
		
		function fn_checkOne(){
			$('.check_one').click(function(){
				let checkCnt = 0;
				for(let i=0; i < $('.check_one').length; i++){
					checkCnt += $($('.check_one')[i]).prop('checked');
				}
				$('#check_all').prop('checked', $('.check_one').length == checkCnt);	
				
				if($('#check_all').is(':checked')){
					$('.lbl_all').addClass('lbl_checked');
				} else {
					$('.lbl_all').removeClass('lbl_checked');
				}
			});
		}
		
		function fn_toggleCheck(){
			$('.lbl_all, .lbl_one').click(function(){
				$(this).toggleClass('lbl_checked');
			})
		}
		
		function fn_submit(){
			$('#frm_agree').submit(function(event){
				if($('#service').is(':checked') == false || $('#privacy').is(':checked') == false){
					alert('필수 약관에 동의하세요.');
					event.preventDefault();
					return;
				}
			});
		}
		
	</script>
</head>
<body>

	<header th:replace="~{layout/header::header_layout}"></header>

	<div>
		<h1>약관 동의하기</h1>
		
		<form id="frm_agree" th:action="@{/users/join/write}" method="get">
			<div>
				<input type="checkbox" id="check_all" class="blind">
				<label for="check_all" class="lbl_all">모두 동의</label>
			</div>
			
			<hr>
			
			<div>
				<input type="checkbox" id="service" class="check_one blind">
				<label for="service" class="lbl_one">이용약관 동의(필수)</label> <!-- checkbox는 체크하면 name과 value 없어도 넘어간다. -->
				<div>
					<textarea readonly>이용약관</textarea>
				</div>
			</div>
			
			<div>
				<input type="checkbox" id="privacy" class="check_one blind">
				<label for="privacy" class="lbl_one">개인정보수집 동의(필수)</label>
				<div>
					<textarea readonly>개인정보수집</textarea>
				</div>
			</div>
			
			<div>
				<input type="checkbox" id="location" class="check_one blind" name="location"> <!-- checkbox는 체크 안 하면 안 넘어간다. -->
				<label for="location" class="lbl_one">위치정보수집 동의(선택)</label>
				<div>
					<textarea readonly>위치정보수집</textarea>
				</div>
			</div>
			
			<div>
				<input type="checkbox" id="promotion" class="check_one blind" name="promotion">
				<label for="promotion" class="lbl_one">마케팅 동의(선택)</label>
				<div>
					<textarea readonly>이건 나중에 생각하자</textarea>
				</div>
			</div>
			
			<hr>
			
			<div>
				<input type="button" value="취소" onclick="history.back();">
				<button>다음</button>
			</div>
			
		</form>
	</div>
	
</body>
</html>