<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('BulMeong')}"></head>
<head>
	<script>
		$(function(){
			$('#btn_check_pw').click(function(){
				$.ajax({
					type: 'post',
					url: '/users/check/pw',
					data: 'pw=' + $('#pw').val(),
					dataType: 'json',
					success: function(resData){
						if(resData.isUser){
							$('#lnk_retire').submit();
						} else {
							alert('비밀번호를 확인하세요.');
						}
					}
				});
			});
		});
	</script>
</head>
<body>

	<header th:replace="~{layout/header::header_layout}"></header>
	
	<div>
	
		<div>개인정보보호를 위해서 비밀번호를 다시 한 번 입력하세요</div>
		
		<div>
			<label for="pw">비밀번호</label>
			<input type="password" id="pw">
		</div>
		
		<div>
			<input type="button" value="취소" onclick="history.back()">
			<input type="button" value="확인" id="btn_check_pw">
		</div>
		
		<form id="lnk_retire" th:action="@{/users/retire}" method="post"></form>
	</div>
	
</body>
</html>