<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('비밀번호 확인')}"></head>
<head>
	<script>
		$(function(){
			$('#btn_check_pw').click(function(){
				$.ajax({
					type: 'post',
					url: '/users/check/pw',
					data: 'pw=' + $('#pw').val(),
					dataType: 'json',
					success: function(resData){
						if(resData.isUser){
							$('#lnk_retire').submit();
						} else {
							alert('비밀번호를 확인하세요.');
						}
					}
				});
			});
		});
	</script>
</head>
<body>

	<!-- <header th:replace="~{layout/header::header_layout}"></header> -->
	<a th:href="@{/}"><img th:src="@{/images/index/불멍로고.png}" width="200px" style="margin: 10px"></a>
	
	
	<div style="text-align:center; margin:150px auto 250px; border-top:solid 1px rgb(200 201 202); width:650px;">
		<h2>회원탈퇴</h2>
	
		<p>
			사용하고 계신 아이디(<span th:text="${session.loginUser.id}" style="color:rgb(113, 194, 133);"></span>)는 탈퇴할 경우 재사용 및 복구가 불가능합니다.<br>
			<span style="color: rgb(204, 75, 76);">탈퇴한 아이디는 본인과 타인 모두 재사용 및 복구가 불가하오니 신중하게 선택하시기 바랍니다.</span>
		</p>
		
		<div>탈퇴 후 회원정보 및 개인형 서비스 이용기록은 모두 삭제됩니다.</div>
		
		<br>
		
		<div style="font-weight:600;">개인정보보호를 위해서 비밀번호를 다시 한번 입력해 주세요</div>
		<div>
			<input type="password" id="pw" placeholder="비밀번호를 입력해주세요.">
		</div>
		<br><hr>
		<div>
			<input type="button" value="취소" onclick="history.back()">
			<input type="button" value="확인" id="btn_check_pw">
		</div>
		
		<form id="lnk_retire" th:action="@{/users/retire}" method="post"></form>
	</div>
	<footer th:replace="~{layout/footer::footer_layout}"></footer>
</body>
</html>