<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('BulMeong')}"></head>
<body>

	<header th:replace="~{layout/header::header_layout}"></header>
	
	<div>
		<a th:href="@{/users/modify}">회원정보변경</a>
	</div>
	<div>
		<a th:href="@{/users/profile}">프로필 이미지 설정</a>
	</div>
	<div>
		<a th:href="@{/users/jjim}">찜목록</a>
	</div>
	<div>
		<a th:href="@{/users/board/list}">내가 쓴 글</a>
	</div>
	<div>
		<a th:href="@{/users/reserve}">예약 내역</a>
	</div>
</body>
</html>