<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('BulMeong')}"></head>
<head>
	<script>
		$(function(){
			fn_nicknameCheck();
			fn_changeImage();
			fn_cancel();
		});
		
		var nicknamePass = true;
		
		function fn_nicknameCheck(){
			
			$('#nickname').keyup(function(){
				// 입력한 닉네임
				let nicknameValue = $(this).val();
				
				// 정규식(2~20자, 한글+영어+숫자)
				let regNickname = /^[가-힣0-9a-zA-Z]{2,20}$/;
				
				if(nicknameValue != '' && regNickname.test(nicknameValue) == true){
					$('#msg_nickname').text('');
				} else {
					$('#msg_nickname').text('닉네임을 확인하세요.');
					nicknamePass = false;
					return;
				}
				
				// 닉네임 중복체크
				$.ajax({
					/* 요청 */
					type: 'get',
					url: '/users/checkReduceNickname',
					data: 'nickname=' + nicknameValue,
					/* 응답 */
					dataType: 'json',
					success: function(resData){  
						if(nicknameValue != '[[${session.loginUser.nickname}]]'){
							if(resData.isUser || resData.isSleepUser){
								$('#msg_nickname').text('이미 사용중인 닉네임입니다.');
								nicknamePass = false;
							} else {
								$('#msg_nickname').text('사용 가능한 닉네임입니다.');
								nicknamePass = true;
							}
						}
					}
				});  // ajax
			}); // keyup
		} // fn_nicknameCheck
		
		function fn_changeImage(){
			$('#image').change(function(){
				
				// 첨부 가능한 파일의 최대 크기
				let maxSize = 1024 * 1024 * 1;  // 1MB
				let files = this.files;
				
				$('#fileSize').text(files[0].size / 1024);
				
				// 크기 체크
				if(files.size > maxSize){
					alert('1MB 이하의 파일만 첨부할 수 있습니다.');
					$(this).val('');  // 첨부된 파일을 모두 없애줌
					return;
				}
				
				let data = new FormData($('#form_test')[0]);
				
				$.ajax({
					type: 'post',
					enctype: 'multipart/form-data',
					url: '/users/changeImage',
					data: data,
					contentType : false,
					processData : false,
					dataType: 'json',
					success: function(resData){
						$('#removeCheck').val('');
						$('#profileImage').prop('src', '/load/profileImagePreview/' + resData.filesystem);
					}
				}); // ajax
			}); // change
		} // function
		
		function fn_cancel(){
			$('#btn_cancel').click(function(){
				location.href='/';
			});
		}
		
	</script>
	<style>
		.image{
			display: inline-block; 
			border:1px solid gray; 
			width:100px; 
			height:30px;
			line-height: 30px; 
			text-align:center;
			font-weight: bold; 
		}
	</style>
</head>
<body>

	<header th:replace="~{layout/header::header_layout}"></header>
	
	<h1>프로필 수정</h1>
	
	<form th:action="@{/users/modify/profile}" method="post" enctype="multipart/form-data" id="form_test">
		<table border="1">
			<tbody>
				<tr>
					<td>프로필 이미지</td>
					<td>
						<span th:if="${session.loginUser.profileImage == '/images/userimage/basic_profileImage.png'}">
							<img id="profileImage" th:src="${session.loginUser.profileImage}" width="100px" style="border:1px solid black;">
						</span>
						<span th:if="${session.loginUser.profileImage != '/images/userimage/basic_profileImage.png'}">
							<img id="profileImage" th:src="|/load/profileImage/${session.loginUser.profileImage}|" width="100px" style="border:1px solid black;">
						</span>
						<div>
							<label for="image" class="image">사진변경</label>
							<input type="file" id="image" name="image" accept="image/png, image/jpeg" style="display:none">
						</div>
						<div>
							<input type="hidden" id="removeCheck" name="removeCheck">
							<label for="remove" class="image">삭제</label>
							<input type="button" id="remove" style="display:none" onclick="
								$('#removeCheck').val('check');
								$('#image').val('');
								$('#profileImage').prop('src', '/images/userimage/basic_profileImage.png');
							">
						</div>
						<span id="fileSize"></span>
					</td>
				</tr>
				<tr>
					<td><label for="nickname">닉네임</label> </td>
					<td>
						<!-- 닉네임 -->
						<div>
							<input type="text" name="nickname" id="nickname" th:value="${session.loginUser.nickname}">
						</div>
							<span id="msg_nickname"></span>
					</td>
				</tr>
			</tbody>
		</table>
		<button>적용</button>
		<input type="button" value="취소하기" id="btn_cancel">
	</form>
	
</body>
</html>