<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('BulMeong')}"></head>
<body>

	<header th:replace="~{layout/header::header_layout}"></header>
	
	<div>
	
		<h1>휴면계정안내</h1>
		
		<div>
			안녕하세요!<br>
			<div th:text="|${session.sleepUser.id}님은 1년 이상 로그인하지 않아 관련 법령에 의해 휴면계정으로 전환되었습니다.|"></div>
			<br><br>
			<ul>
				<li th:text="|가입일 ${session.sleepUser.joinDate}|"></li>
				<li th:text="|마지막 로그인 ${session.sleepUser.lastLoginDate}|"></li>
				<li th:text="|휴면전환일 ${session.sleepUser.sleepDate}|"></li>
			</ul>
		</div>
		
		<hr>
		
		<div>
			<div>
				휴면해제를 위해 휴면해제 버튼을 클릭해 주세요.
			</div>
			<form id="frm_restore" th:action="@{/users/restore}" method="post">
				<div>
					<button>휴면해제</button>
					<input type="button" value="취소" onclick="location.href='/'">
				</div>
			</form>
		</div>
	
	</div>
	
</body>
</html>