@charset "UTF-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

body {
/* 	border: 1px #a39485 solid; */
	width: 70%;
	margin: auto;
}

#faqTitle {
	border: 1px solid gray;
	border-radius: 12px;
	padding: 11px;
	margin: 8px;
	width: 50%;
	height : 32px;
	display: inline-block;
}

#faqTitle:focus {
	border: 1px solid rgba(113, 194, 133);
   	border-radius: 15px;
	outline: none;
   	padding: 11px;
   	margin: 8px;
   	width: 50%;  	
	height : 32px;
   	background-color: #f8f8f9;
}

#faqContent {
	border: 1px solid gray;
	border-radius: 12px;
	padding: 11px;
	margin: 8px;
	width: 96%;
	height : 500px;
	display: inline-block;
}

#faqContent:focus {
	border: 1px solid rgba(113, 194, 133);
   	border-radius: 15px;
	outline: none;
   	padding: 11px;
   	margin: 8px;
   	width: 96%;
	height : 500px;
   	background-color: #f8f8f9;
}

.faq_btn_wrap {
/* 	border: 1px solid rgba(113, 194, 133); */
	width: 180px;
	float: right;
}

.btn_faqReset {
	border: 1px #CC4B4C solid;
	border-radius:7px;
	color: rgba(204, 75, 76);
	background-color: white;
	float: right;
}

 .btn_faqSubmit {
 	border: 1px #CC4B4C solid;
	border-radius:7px;
	color: rgba(204, 75, 76);
	background-color: white;
	margin-left: 5px;
 }

.btn_faqReset:hover, .btn_faqSubmit:hover {
	background-color: rgba(204, 75, 76); 
    transition-duration: 0.3s;
    color: white;
}