<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer_layout">
<style>
	html, body {
		margin: 0;
		padding: 0;
		height: auto;
	}
	#wrapper{
	  display: flex;
	  flex-direction: column;
	  height: auto;
	}
	footer {
		width: 100%;
		height: auto;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.div_footer {
		text-align: center;
	 	padding: 2% 0 0 0;
 		position: fixed; 
		width: 70%;
		bottom: 0;
 		margin: auto;
 		font-size: 8px;
	}
</style>
<div id='wrapper'>
	<div class="div_footer">
		<img th:src="@{/images/index/불멍텐트.png}" width="20px">
			ⓒ 2023 bul_meong, Copyright.
	</div>
	<div class="div_footer_bottom">
			GitHub : https://github.com/jomoonseok/BulMeong
	</div>
</div>
</footer>

</body>
</html>
	
	