<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer_layout">
<style>
	.div_footer {
		text-align: center;
		font-size: 12px;
		margin: 2% 0 0 0;
		padding: 2% 0 0 0;
	}
	.div_footer_bottom {
		text-align: center;
		font-size: 10px;
		margin: 0 0 2% 0;
		padding: 0 0 2% 0;
		color: rgb(180, 185, 191);
	}
</style>
	<div class="div_footer">
	<img th:src="@{/images/index/불멍텐트.png}" width="20px">
		ⓒ 2023 bul_meong, Copyright.
	</div>
	<div class="div_footer_bottom">
		GitHub : https://github.com/jomoonseok/BulMeong
	</div>
</footer>

</body>
</html>
	
	