<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('Bul meong 공지사항')}"></head>
<link th:href="@{/css/notice/detail.css}" rel="stylesheet" />

<style>
	.blind {
		display: none;
	}
</style>
		<header th:replace="~{layout/header::header_layout}"></header>
<body>
	<div class="css_detail_wrap">
		
		<div class="css_ccupdegy"></div>
		
		<div class="css_notice_title_wrap">
			<span th:text="|[공지] ${notice.noticeTitle}|"></span>
		</div>
		
		<div class="css_ooo">
		
		<div class="css_notice_createDate">
			<i class="fa-solid fa-pen-to-square"></i>&nbsp<span th:text="|작성일 ${notice.noticeCreateDate}|"></span>
<!-- 			&nbsp;&nbsp;&nbsp; -->
<!-- 			<span th:text="|수정일 ${notice.noticeModifyDate}|"></span> -->
		</div>
		
		<div class="css_notice_hit">
			<i class="fa-solid fa-eye"></i>&nbsp<span th:text="|조회수&nbsp&nbsp ${#numbers.formatInteger(notice.noticeHit,1,'COMMA')}|"></span>
		</div>
		
		</div>
		
		<div th:utext="${notice.noticeContent}" class="css_noticeContent"></div>
		
		
		<div id="only_admin">
			<form id="frm_btn" method="post">
				<input type="hidden" name="noticeNo" th:value="${notice.noticeNo}">
					<th:block th:if="${session.loginUser} != null and ${session.loginUser.id} == 'admin'">
						<input type="button" value="수정" id="btn_edit_notice">
						<input type="button" value="삭제" id="btn_remove_notice">
					</th:block>
				<input type="button" value="목록" onclick="location.href='/notice/list'" class="css_notice_list">
			</form>
		</div>
		<script th:inline="javascript">

				$('#btn_edit_notice').click(function(){
					$('#frm_btn').attr('action', '/notice/edit');
					$('#frm_btn').submit();
				});
				$('#btn_remove_notice').click(function(){
					if(confirm('삭제하시겠습니까?')){
						$('#frm_btn').attr('action', '/notice/remove');
						$('#frm_btn').submit();
					}
				});

		</script>
	</div>
	<br>
	<footer th:replace="~{layout/footer::footer_layout}"></footer>
</body>
</html>