<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('Bul meong 공지사항 수정')}"></head>
<link th:href="@{/css/notice/write.css}" rel="stylesheet" />
<script th:inline="javascript">
	
	$(document).ready(function(){
		
		$('#noticeContent').summernote({
			height: 400,
			lang: 'ko-KR',
			toolbar: [
			    // [groupName, [list of button]]
			    ['style', ['bold', 'italic', 'underline', 'clear']],
			    ['font', ['strikethrough', 'superscript', 'subscript']],
			    ['fontsize', ['fontsize']],
			    ['color', ['color']],
			    ['para', ['ul', 'ol', 'paragraph']],
			    ['height', ['height']],
			    ['insert', ['link', 'picture', 'video']]
			],
			callbacks: {
				onImageUpload: function(files) {
					for(let i = 0; i < files.length; i++) {
						var formData = new FormData();
						formData.append('file', files[i]); 
						$.ajax({
							type: 'post',
							url: '/notice/uploadImage',
							data: formData,
							contentType: false,  
							processData: false,  
							dataType: 'json',    
							success: function(resData) {
								$('#noticeContent').summernote('insertImage', resData.src);  
								$('#summernote_image_list').append($('<input type="hidden" name="summernoteImageNames" value="' + resData.filesystem + '">'));
							}
						});  // ajax
					}  // for
				}  // onImageUpload
			}  // callbacks
		});
		
		// 목록
		$('#btn_list').click(function(){
			location.href = '/notice/list';
		});
		
		// 서브밋
		$('#frm_write').submit(function(event){
			if($('#noticeTitle').val() == ''){
				alert('제목을 입력하세요.');
				event.preventDefault();
				return;
			}
		});
		
	});
	
</script>
<body>
	<div>
		<header th:replace="~{layout/header::header_layout}"></header>
		
		<h3>공지작성</h3>
		
		<form id="frm_edit" th:object="${notice}" th:action="@{/notice/modify}" method="post">
			
			<input type="hidden" name="noticeNo" th:field="*{noticeNo}">
			
			<div>
				<label for="noticeTitle">제목</label>
				<input type="text" name="noticeTitle" id="noticeTitle" th:field="*{noticeTitle}">
			</div>
			
			<div>
				<label for="noticeContent">내용</label>
				<textarea name="noticeContent" id="noticeContent" th:text="*{noticeContent}"></textarea>
			</div>
			
			<div id="summernote_image_list"></div>
			
			<div class="edit_footer">
				<button class="btn_editSubmit">수정완료</button>
				<input type="button" value="목록" id="btn_notice_list">
			</div>
		</form>
	</div>
	<footer th:replace="~{layout/footer::footer_layout}"></footer>
</body>
</html>