<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('BulMeong')}"></head>
<link th:href="@{/css/reviewboard.css}" rel="stylesheet" />
<body>

	<header th:replace="~{layout/header::header_layout}"></header>
	
	<script>
	
		$(document).ready(function(){
			
			$('#btn_write').click(function(){
				location.href = '/reviewboard/write';				
			});
			
			// 2. 게시글 목록
			$('#btn_list').click(function(){
				location.href = '/reviewboard/list';				
			});
			
			// 3. 게시글 수정
			$('#btn_edit').click(function(){

				$('#frm_btn').attr('action', '/reviewboard/edit');
				$('#frm_btn').submit();
			});
			
			// 4. 게시글 삭제
			$('#btn_remove').click(function(){
				if(confirm('게시글을 삭제하시겠습니까?')){
					$('#frm_btn').attr('action', '/reviewboard/remove');
					$('#frm_btn').submit();
				} else {
					alert('취소되었습니다.');
				}
				
			});
			
			$('#btn_top').click(function(){
				window.scrollTo({ top: 0, behavior: "smooth" });
			});
			
			function linkCopy() {
				
				var url = '';
				var textarea = document.createElement("textarea");
				document.body.appendChild(textarea);
				url = window.document.location.href;
				textarea.value = url;
				textarea.select();
				document.execCommand("copy");
				document.body.removeChild(textarea);
				alert("URL이 복사되었습니다.");
		
			}
			
		});
	</script>
	
	
	<!-- session이랑 loginUser가 같다면 nickname 값 넘겨주기 -->
	<!-- script문에서.. -->
	<div th:if="${session.loginUser} != null">
		<input type="hidden" id="id" th:value="${session.loginUser.id}">
	</div>
	<div th:if="${session.loginUser} != null">
		<input type="hidden" id="nickname" th:value="${session.loginUser.nickname}">
	</div>
	
	<!-- 1. 게시판 상단 버튼 -->
	<div>
		<i class="fa-solid fa-angles-left" id="btn_list"> 목록</i>		
	</div>
	
	
	
	<!-- 2. 게시글 내용 -->
	<div class="out_board_box">
		<div class="in_board_box">
			<div class="title_box">
				<span class="reviewTitle" th:text="${review.reviewTitle}"></span>		
			</div>
			<div style="margin: 1%">
				<img th:src="@{/images/freeboard/writer.png}" width="19px">
				<span th:text="${review.nickname}" id="writer_nickname"></span>
				<img th:src="@{/images/freeboard/calendar.png}" width="19px">
				<span id="date_css" th:text="${review.reviewCreateDate}"></span>
				<span><a id="url_css" href="" onclick="linkCopy()">URL 복사</a></span>
			</div>
		
			
			<hr>
			
			<div id="board_content" th:utext="${review.reviewContent}"></div>
		
			<hr>
			
			<div class="footer_btn_group">
				<form id="frm_btn" method="post">
					<input type="hidden" name="reviewNo" th:value="${review.reviewNo}">
					<input type="hidden" name="id" th:value="${review.id}">
					<input type="button" class="footer_btn1" value="목록" th:onclick="|location.href='@{/reviewboard/list}'|">
					<input type="button" class="footer_btn2" value="글쓰기" id="btn_write" th:if="${session.loginUser} != null">
					<span th:if="${session.loginUser} != null and ${review.id == session.loginUser.id}">
						<input type="button" class="footer_btn3" value="수정" id="btn_edit">
						<input type="button" class="footer_btn4" value="삭제" id="btn_remove">
					</span>
					<input type="button" class="footer_btn5" value="▲" id="btn_top">
				</form>	
			</div>
			
		</div>	
	</div>



</body>
</html>