<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('BulMeong')}"></head>
<link th:href="@{/css/freeboard.css}" rel="stylesheet" />
<body>

	<header th:replace="~{layout/header::header_layout}"></header>
	
	<script>
	
		$(document).ready(function(){
			
			$('#btn_write').click(function(){
				location.href = '/reviewboard/write';				
			});
			
			// 2. 게시글 목록
			$('#btn_list').click(function(){
				location.href = '/reviewboard/list';				
			});
			
			// 3. 게시글 수정
			$('#btn_edit').click(function(){

				$('#frm_btn').attr('action', '/reviewboard/edit');
				$('#frm_btn').submit();
			});
			
			// 4. 게시글 삭제
			$('#btn_remove').click(function(){
				if(confirm('게시글을 삭제하시겠습니까?')){
					$('#frm_btn').attr('action', '/reviewboard/remove');
					$('#frm_btn').submit();
				} else {
					alert('취소되었습니다.');
				}
				
			});
			
		});
	</script>
	
	
	<!-- session이랑 loginUser가 같다면 nickname 값 넘겨주기 -->
	<!-- script문에서.. -->
	<div th:if="${session.loginUser} != null">
		<input type="hidden" id="id" th:value="${session.loginUser.id}">
	</div>
	<div th:if="${session.loginUser} != null">
		<input type="hidden" id="nickname" th:value="${session.loginUser.nickname}">
	</div>
	
	<!-- 1. 게시판 상단 버튼 -->
	<div>
		<i class="fa-solid fa-angles-left" id="btn_list"> 목록</i>		
	</div>
	
	
	
	<!-- 2. 게시글 내용 -->
	<div class="out_board_box">
		<div class="in_board_box">
			<div class="title_box">
				<span class="reviewTitle" th:text="${review.reviewTitle}"></span>		
			</div>
			<div style="margin: 1%">
				<img th:src="@{/images/freeboard/writer.png}" width="19px">
				<span th:text="${review.nickname}" id="writer_nickname"></span>
				<img th:src="@{/images/freeboard/calendar.png}" width="19px">
				<span id="date_css" th:text="${review.reviewCreateDate}"></span>
				<span><a id="url_css" href="" onclick="linkCopy()">URL 복사</a></span>
			</div>
		
			
			<hr>
			
			<div id="board_content" th:utext="${review.reviewContent}"></div>
		
			<!-- <div th:text="${freeCmt}"></div> -->
		
			<hr>
			
			<!-- 4. 댓글 카운트 -->
		<!-- 	<div style="margin-bottom: 9px">
				<div class="cmt_cnt_box">
					<span id="btn_comment_list">
						<i class="fa-regular fa-comment-dots"></i>&nbsp;댓글
						<span id="comment_count"></span>개
					</span>
				</div>
				3. 좋아요
				<div class="like_box">
					<a id="lnk_like">
						<span id="heart"></span>&nbsp;<span id="like"></span><span id="like_count"></span>
					</a>
				</div>
			</div> -->
			
			
			<!-- 5. 댓글 추가 -->
		<!-- 	<div>
				<form id="frm_add_comment" th:if="${session.loginUser} != null">
					<div class="add_comment">
						<div class="add_comment_input">
							<input type="text" name="freeCmtContent" id="content" placeholder="댓글을 입력해주세요.">
							<input type="button" value="등록" id="btn_add_comment">
	 						<input type="hidden" name="freeGroupNo" th:value="0">
						</div>
					</div>
					<input type="hidden" name="freeNo" th:value="${free.freeNo}">
				</form>
			</div>	 -->
			
			
			<hr>
			<!-- 6. 댓글 내용 -->
			<!-- <div id="comment_area">
				<div id="comment_list"></div>
				<div id="paging" class="paging"></div>
			</div>
		</div> -->
	</div>


	<!-- 6. 게시판 하단 버튼 -->
	<div class="footer_btn_group">
		<form id="frm_btn" method="post">
			<input type="hidden" name="reviewNo" th:value="${review.reviewNo}">
			<input type="hidden" name="id" th:value="${review.id}">
			<input type="button" class="footer_btn1" value="목록" th:onclick="|location.href='@{/reviewboard/list}'|">
			<input type="button" class="footer_btn2" value="글쓰기" id="btn_write" th:if="${session.loginUser} != null">
			<span th:if="${session.loginUser} != null and ${review.id == session.loginUser.id}">
				<input type="button" class="footer_btn3" value="수정" id="btn_edit">
				<input type="button" class="footer_btn4" value="삭제" id="btn_remove">
			</span>
			<input type="button" class="footer_btn5" value="▲" id="btn_top">
		</form>	
	</div>


</body>
</html>