<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('[BulMeong] 리뷰게시판')}"></head>
<body>

	<header th:replace="~{layout/header::header_layout}"></header>
	
	<script>

		
	</script>
	
	<h3>Review 게시판</h3>
	
	<div th:if="${session.loginUser} != null">
 		<input type="button" value="글쓰기" id="write">
	</div>
	
	<div th:each="review : ${reviewBoardList}">
		<span th:text="${review.reviewNo}"></span>
		<span th:text="${review.reviewTitle}"></span>
		<span th:text="${review.reviewHit}"></span>
		<span th:text="${review.reviewStar}"></span>
		<span th:text="${review.reviewCreateDate}"></span>
	</div>
	
	


</body>
</html>